<!DOCTYPE html>
{% if request.user != user %}
{% if request.user.is_authenticated %}
<form class="follow-form" method="POST" action="{% url 'follow' %}">
    {% csrf_token %}
    <input type="hidden" name="username" value="{{ user.username }}"/>
    <button type="submit"
        class="follow-button {% if is_following %}is-following{% endif %}"
        data-username="{{ user.username }}"
        data-is-following="{{ is_following|yesno:'true,false' }}">
        <span class="follow-text">{% if is_following %}フォロー中{% else %}フォロー{% endif %}</span>
    </button>
</form>
{% endif %}
{% endif %}