<!DOCTYPE html>
{% extends 'base.html' %}
{% load follow_tags %}
{% block headerName %}{{ user.username }} さんがフォロー中{% endblock %}
{% block title %} Is Following {% endblock %}
{% block content %}
<div class="users-wrapper">
  {% for following in following_page %}
    <div class="users-card">
        <div class="user-main-row">
            <div class="user-avatar">
                <a href="{% url 'articles:user-posts' following.user.username %}">
                    <img src="{{ following.user.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
                </a>
            </div>
            <div class="user-info">
                <div class="user-top-row">
                    <p class="user-name">{{ following.user.username }}</p>
                    {% include "accounts/snippet/follow_form.html" with target_user=following.user %}
                </div>
                {% mutual_follow_status request.user following.user as follow_status %}
                {% if follow_status %}
                    <p class="followed-note">{{ follow_status }}</p>
                {% endif %}
                {% if following.user.profile.bio %}
                <p class="user-bio">{{ following.user.profile.bio|linebreaksbr|truncatechars:80 }}</p>
                {% endif %}
            </div>
        </div>
  </div>
    {% empty %}
        <div class="global-tag">
            <h3>気になったユーザーをフォローしてみよう。</h3>
        </div>
    {% endfor %}
</div>

{% if following_page.has_other_pages %}
<div class="pager">
    <ul class="pagination">
    {% if following_page.has_previous %}
        <li class="pre"><a class="active" href="?page=1"><span>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a></li>
        <li class="pre"><a class="active" href="?page={{ is_following.previous_page_number }}"><span>
            <i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a></li>
    {% endif %}

    {% for num in following_page.paginator.page_range %}
        {% if following_page.number == num %}
            <li><a class="active" href="#"><span>{{ num }}</span></a></li>
        {% elif num > following_page.number|add:'-3' and num < following_page.number|add:'3' %}
        <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
        {% endif %}
    {% endfor %}

    {% if liked_users.has_next %}
        <li class="next"><a href="?page={{ following_page.next_page_number }}"><span>
            <i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a></li>
        <li class="next"><a href="?page={{ following_page.paginator.num_pages }}"><span>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
<div class="global-footer"></div>
{% endblock %}