<!DOCTYPE html>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}Login{% endblock %}
{% block headerName %}ログイン{% endblock %}
{% block mobileCenter %}<p class="mobile-center-name">ログイン</p>{% endblock %}
{% block headerA %}
<a href="{% url 'home' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock %}
{% block content %}
<div class="form-wrapper">
    <h1>Login</h1>
    <form class="site-form-new" action="{% url 'accounts:login' %}" method="POST">
        {% csrf_token %}
        <div class="form-item">
            <label for="id_username"></label>
            <input type="text" name="username" placeholder="Username" required="required" id="id_username">
            {% for error in form.username.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        <div class="form-item">
            <label for="id_password"></label>
            <input type="password" name="password" placeholder="Password" required="required" id="id_password">
            {% for error in form.password.errors %}
            <span>{{ error }}</span>
            {% endfor %}
        </div>
        {% if request.POST.next %}
        <input type="hidden" name="next" value="{{request.POST.next}}">
        {% endif %}
        <div class="button-panel">
            <input type="submit" class="button-new" title="Login" value="Login">
        </div>
        <div class="social-line">
            <h4 class="social-line-text">or</h4>
        </div>
        <div class="login-social">
            <a href="{% url 'social:begin' 'google-oauth2' %}" class="social google">
                <i class="fab fa-google"></i>
                <span class="social-text">Login with Google</span>
            </a>
        </div>
    </form>
    <div class="form-footer">
        <p><a href="{% url 'accounts:signup' %}">Create an account</a></p>
        <p><a href="{% url 'accounts:password_reset' %}">Forgot password?</a></p>
    </div>
</div>
{% endblock %}