<!DOCTYPE html>
{% extends 'base.html' %}
{% load widget_tweaks %}
{% block headerName %}パスワードリセット{% endblock %}
{% block title %}Forgot your password?{% endblock %}

{% block content %}
<div class="password-reset-wrapper">
  <h1>Forgot your password?</h1>
  <p class="password_reset">Enter your email address below, and we'll email instruction</p>
  <p class="password_reset ja">下記にSignUp時に登録したEmail addressを入力してください。</p>
</div>
<div class="form-container-password">
    <div class="form-wrapper">
        <form class="site-form-new" action="" method="POST">
            {% csrf_token %}
            <div class="form-item">
                <label for="id_email"></label>
                <input type="email" name="email" maxlength="254" placeholder="Email" required="required" id="id_email">
                {% for error in form.email.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
            <div class="button-panel">
                <input type="submit" class="button-new" value="Request">
            </div>
        </form>
        <div class="form-footer">
            <p><a href="{% url 'accounts:login' %}">Login</a></p>
            <p><a href="{% url 'home' %}">Home</a></p>
        </div>
    </div>
</div>
{% endblock %}