{% extends 'base_layout.html' %}
{% load widget_tweaks %}
{% block title %}Enter new password{% endblock %}
{% block content %}
<div class="form-wrapper">
    <h1>Set a new Password!</h1>
    <form class="site-form-new" action="" method="POST">
    {% csrf_token %}
    <div class="form-item">
        <label for="id_new_password1"></label>
        <input type="password" name="new_password1" placeholder="New Password" required="required" id="id_new_password1">
        <small><ui class="helptext">{{ form.new_password1.help_text }}</ui></small>
        {% for error in form.password1.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
    <div class="form-item">
        <label for="id_new_password2"></label>
        <input type="password" name="new_password2" placeholder="Repeat Password" required="required" id="id_new_password2">
        {% for error in form.password2.errors %}
        <span>{{ error }}</span>
        {% endfor %}
    </div>
        <div class="button-panel">
            <input type="submit" class="button-new" value="Change My Password">
        </div>
    </form>
    <div class="form-footer">
        <p><a href="{% url 'accounts:login' %}">Login</a></p>
    </div>
</div>
{% endblock %}