{% extends 'base_layout.html' %}
{% load widget_tweaks %}

{% block title %}Enter new password{% endblock %}

{% block content %}
<div class="form-wrapper">
    <h1>Set a new Password!</h1>
    <form class="site-form-new" action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="button-panel">
            <input type="submit" class="button-new" value="Change My Password">
        </div>
    </form>
    <div class="form-footer">

    </div>
</div>
{% endblock %}