{% extends 'base_layout.html' %}
{% load widget_tweaks %}

{% block content %}
    <h1>{{ user.username }} Profile</h1>

    <div>
        <div class="profile">
          <div class="profile-circle">
            <img src="{{ user.profile.image.url }}" alt="Avatar" class="img-cover">
          </div>
          <div>
            <p>{{ user.email }}</p>
          </div>
        </div>

        <div class="prof-messages">
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <form class="site-form" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h3>Profile Info</h3>

            {{ u_form.as_p }}

            <div class="form_group">
                <label>My icon</label>
                <div class="column_3" id="input-group">
                    <input type="file" name="image" accept="image/*" id="id_image"/>
                    <label for="id_image" id="input-label">UpLoad
                        <i class="fas fa-user-cog"></i>
                    </label>
                    <div class="icon_helptext">
                        <p class="helptext">{{ p_form.image.help_text }}</p>
                    </div>
                    {% for error in p_form.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
            </div>
            <div class="submit_btn">
                <input type="submit" value="Update">
            </div>
        </form>
     </div>
{% endblock %}