<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Profile Card{% endblock %}
{% block headerA %}
<a href="{% url 'home' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock %}
{% block content %}
<div class="user_profile_card">
    <img src="{{ user.profile.image.url }}" alt="Avatar"/>
    <ul>
        <li>
            {{ user.following_users.all.count }} <small>フォロー中</small>
        </li>
        <li>
            {{ user.profile.followers.all.count }} <small>フォロワー</small>
        </li>
    </ul>
    <h3>
        <a href="{% url 'articles:user-posts' user.username %}">
            {{ user.username }}
        </a>
    </h3>
    <p class="user_profile_bio">
        {% if user.profile.bio != None %}
        {{ user.profile.bio | urlize | linebreaksbr }}
        {% endif %}
    </p>
    <p class="user_profile_website">
        {% if user.profile.website != None %}
        <a href="{{ user.profile.website }}" class="user-website-link">
            <i class="fas fa-link"></i> {{ user.profile.website }}
        </a>
        {% endif %}
    </p>
</div>
<div class="global-footer"></div>
{% endblock %}