<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}{{ user.username }}'s Profile Card{% endblock %}
{% block headerA %}
<a href="{% url 'home' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock %}
{% block content %}
<div class="user_profile_card">
    <img src="{{ user.profile.image.url }}" alt="Avatar" style="width:100%"/>
    <ul>
        <li>
            {{ user.is_following.all.count }} <small>Following</small>
        </li>
        <li>
            {{ user.profile.followers.all.count }} <small>Followers</small>
        </li>
    </ul>
    <h3>
        <a href="{% url 'articles:user-posts' user.username %}" style="color:#383838">
            {{ user.username }}
        </a>
    </h3>
    <p class="user_profile_bio">
        {% if user.profile.bio != None %}
        {{ user.profile.bio | urlize | linebreaksbr }}
        {% endif %}
    </p>
    <p class="user_profile_website">
        {% if user.profile.website != None %}
        <a href="{{ user.profile.website }}" style="word-break: break-all; color:#6495ED;"><i class="fas fa-link">{{ user.profile.website }}</i></a>
        {% endif %}
    </p>
    <p>
        {% include 'accounts/snippet/follow_form.html' with username=user.username is_following=is_following %}
    </p>
</div>
{% endblock %}