:root
{
    --main-color: #00acee;
    --hover-color:rgba(29, 161, 242, 0.07);
}

*, *::before, *::after
{
     box-sizing: border-box;
}

*
{
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior:smooth;
}

body
{
    font-family: Arial, "ヒラギノ角ゴ Pro W3",
                        "Hiragino Kaku Gothic Pro",
                         Osaka,
                         メイリオ,
                         Meiryo,
                         "ＭＳ Ｐゴシック",
                          "MS PGothic",
                          sans-serif;
}

ul
{
    list-style: none ;
}

a
{
    text-decoration: none ;
}

.container
{
    max-width: 1200px;
    margin: auto ;
}

.global-tag
{
    text-align:center ;
    margin-bottom: 20px;
}


/* mobil header */

.mobil-nav-wrapper
{
    position: fixed ;
    top: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
    z-index: 2;
    justify-content: space-between ;
    transition: transform 0.4s;
}

/* scroll event */

.scroll-down
{
    transform: translate3d(0, -100%, 0);
    filter: opacity(30%) ;
}

.scroll-up
{
    transform: none;
}

/* end scroll event */

.mobile-nav-top-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    /*flex-grow: 1;*/
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.mobile-profile-container img
{
    border-radius:50%;
    width:30px;
    height:30px;
}

.mobile-profile-container i
{
    color: #333;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:30px;
    width:30px;
    border-radius:50%;
    z-index:1;
    position:relative;
    background:var(--main-color);
}

.mobile-logo_1
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    top: -13px;

}

.mobile-logo_2
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(110%) ;
    -webkit-transform: translateX(110%);
    top: 1px;
}



.mobile-nav-top-link button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mobile-nav-top-search
{
    background: rgba(234, 242, 245, 0.62);
    width: 100%;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mobile-search input[type="text"]
{
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
    vertical-align: middle ;
}

.mobile-search-input{
    width: 100%;
    height: 100%;
    position: relative ;
    font-size: 16px;
    margin-left: 3px;
}

.mobile-search i
{
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle ;
    color: gray ;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-search.active
{
    background: #fff;
    border: 1px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
}

.mobile-search.active i
{
    color: var(--main-color);
}

/* mobile placeholder */

input::placeholder,
input::-webkit-input-placeholder,
input::-moz-placeholder
{
  line-height: normal !important;
  vertical-align: middle;
}

/* left style */

.left
{
    /* background: beige ;*/
    float: left;
    width: 10%;
    height:1600%;
}

.left ul
{
    position: -webkit-sticky ;
    position: sticky ;
    top: 0;
}

.wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:70px;
    width:70px;
    border-radius:50%;
    z-index:1;
    border:double 10px #fff;
    position:relative;
    background:#555d66;
    }

.logo_1
{
    position:absolute;
    top:-6px;
    left:10px;
    font-size:30px;
    color: #fff;
}

.logo_2
{
    position:absolute;
    top:10px;
    left:24px;
    font-size:30px;
    color: #fff;
}

.logo:hover
{
    background-color: unset!important;
}

.left ul li
{
    font-size: 24px;
    padding: 3px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.left ul li a
{
    color: var(--main-color);
}

.icon-circle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.icon-circle:hover
{
    background: var(--hover-color);
    border-radius: 50px;
}

.icon-container:hover
{
    color: rgb(29, 161, 242) ;
}

.create-btn-container
{
   text-align: center ;
   margin-top: 20px;
}

.create-btn
{
    background: #1da1f2;
    color: #fff;
    font-size: 23px;
    border: none ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.create-btn:hover
{
    cursor: pointer ;
    background: rgba(0, 148, 255, 0.97);
}

.profile-pic
{
    border-radius:50%;
    width:40px;
    height:40px;
}

.profile-link
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
    color: rgb(101,119,134);
}

.icon-link
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.icon-container
{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    color:rgb(101,119,134);
    border-radius: 50%;
    position:relative;
}


.fa-ellipsis-h
{
    border-radius:50%;
    border: 2px solid rgb(20, 23, 26);
    width:30px;
    height:30px;
    display: flex ;
    justify-content: center ;
    align-items: center
}

.fa-ellipsis-h:hover
{
   border: 2px solid rgb(29, 161, 242) ;
}

.number{
    background:  #00acee;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute ;
    transform: translateX(67%) translateY(-150%);
     -webkit-transform: translateX(67%) translateY(-150%);
    z-index: 1;
}

.live_notify_badge
{
    font-size: 12px;
    color: #fff;
}

/* center style */

.center
{
    width: 60%;
    float: left ;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.center-header
{
    display: flex ;
    padding-top: 10px;
}

.header-return
{
    padding: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative ;
}

.header-return a
{
    color: var(--main-color);
}

.header-return i
{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.header-return:hover
{
    background:var(--hover-color);
}

.header-name
{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    display: flex ;
    align-items: center ;
    margin-left: 10px;
}



/* articles */

.article-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    vertical-align: middle;
    margin: 10px  10px 10px  10px ;
}

.following-feed-wrapper
{
    border-bottom: 1px solid #C0C0C0;
}


.articles-item img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.articles-item small
{
    color: gray ;
}

.following-articles
{
    margin: 2px;
}

.articles-thumb
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.articles-thumb img
{
    width: 100%;
    height: auto;
}

.articles-description
{
    margin: 14px;
}

.articles-description p
{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    padding-top: 10px;
    font-size: 23px;
    word-wrap: break-word;
    line-height: 1.8125;
    color: #333;
    letter-spacing:0.05em;
}

.articles-description a
{
    color: rgb(27, 149, 224);
}

.articles-time
{
    margin: 10px;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    word-wrap: break-word;
    line-height: 1.3125;
    color: gray ;
    font-size: 15px;
}

/* articles icon text box */

.articles-icon-box
{
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 236, 240);
    margin-top: calc(5px);
    display: flex ;
    padding-top: 10px;
}

.icon-items:last-child
{
    margin-left: auto ;
}

.articles-icon-box .article_delete
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.articles-icon-box .article_delete .icon-description
{
    font-size: 16px;
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    color: gray ;
    margin-left: 0;
}

.articles-icon-box .article_delete .icon-description:hover
{
    color: tomato ;
}


.articles-icon
{
    margin:10px;
}

.icon-items
{
    padding-right: 2px;
    color: gray ;
}

.liked span
{
    color:rgb(253, 29, 29);
}

.articles-icon ul li
{
    margin: 0;
}

.articles-icon-wrapper
{
    display: flex ;
    width: 130px;
    height: 50px;
    justify-content: left;
    align-items: center ;
    margin: 0;
    padding: 0;
    margin-right: -20px;
}

.icon-description
{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin-left: 10px;
}

.articles-sum
{
    display: inline-block;
    justify-content: center ;
    align-items: center ;
    margin-left: 3px;
    font-size: 16px;
}


/* icons box */

.icons-box
{
    margin: 10px;
    margin-bottom:0;
}

.articles-icon-box-items
{
    bottom: 0;
    width: 100%;
    height: 50px;
    display: flex ;
    justify-content: space-between ;
    justify-items: center ;
    align-items: center ;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgb(230, 236, 240);
    margin-top: calc(5px);
}

.articles-icon-item-active
{
    font-size: 20px;
    padding: 0px;
    color: gray ;
}

.articles-hover
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    align-items: center ;
    padding: 7px;
    cursor: pointer;
}

.articles-hover:hover
{
    background-color: var(--hover-color);
}

.heart-circle:hover
{
    background: rgba(255, 71, 231, 0.12)
}

.articles-icon-item-active.liked .heart-circle
{
    background: rgba(255, 71, 231, 0.12)
}

.articles-icon-item-active button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 20px;
    color: gray ;
}

.articles-icon-items-wrapper .fb
{
    color:           #3b5998;
}

.articles-icon-items-wrapper .tw
{
    color:           #00aced;
}

.btn-like.liked
{
    color: rgb(253, 29, 29);
}

/* comment */


.comment_wrapper{
    margin:               0;
    margin-top: 20px;
    padding:              0;
    box-sizing:  border-box;
    }

.comment{
    display:           flex;
    border-radius:      0px;
    margin-bottom:     20px;
    flex-wrap:         wrap;
    height: auto;
    justify-items: center ;
    align-items: center ;
    }

.comment.user-comment{
    color:          #333;
    }

.comment.author-comment{
    color:             #333;
    justify-content:  flex-end;
    }

.comment .info{
    width:                17%;
    }

.comment.user-comment .info{
    text-align:         right;
    }

.comment.author-comment .info{
                     order: 3;
    }

.comment .info a{
    display:               block;
    text-decoration:        none;
    color:               #656c71;
    font-weight:            bold;
    text-overflow:      ellipsis;
    overflow:             hidden;
    white-space:          nowrap;
    padding:  10px 12px 3px 12px;
    }

.comment .info span{
    font-size:              10px;
    color:               #9ca7af;
    padding:   3px 12px 3px 15px;
    }

.comment.avatar{
    width:                   8%;
    }

.comment.user-comment .avatar{
    padding:     10px 18px 0 3px;

    }

.comment.author-comment .avatar{
    order:                     2;
    padding:     10px 3px 0 18px;
    }

.comment .avatar img{
    display:            block;
    border-radius:        50%;
    background:       #eeeeee;
    width:               50px;
    height:              50px;
    overflow:          hidden;
    text-align:        center;
    }

.comment.user-comment .avatar img{
    float:              right;

    }

/* comment box */

.user-comment-text-box
{
    line-height:         1.7;
    padding:       5px 20px;
    width:               50%;
    position:       relative;
    word-wrap:    break-word;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex ;
    justify-content: space-between;
    justify-items: center ;
    align-items: center ;
    background: #EDF1EE;
}

.author-comment-text-box{
    line-height:         1.7;
    padding:       5px 20px;
    width:               50%;
    position:       relative;
    word-wrap:    break-word;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    display: flex ;
    justify-content: space-between;
    justify-items: center ;
    align-items: center ;
    background:  #8DE055;
}

.user-comment-text-box p{
    line-height:         1.7;
    padding:       10px 22px;
    width:               90%;
    position:       relative;
    word-wrap:    break-word;
    display: flex ;
    justify-content: left;
    justify-items: center ;
    align-items: center ;
}

.author-comment-text-box p
{
   line-height:         1.7;
    padding:       10px 22px;
    width:               90%;
    position:       relative;
    word-wrap:    break-word;
    text-align: right ;
}

.comment-delete-btn
{
    height: 40px;
    width: 40px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    align-items: center ;
    border-radius: 50%;
}

.comment-delete-btn-2
{
    height: 40px;
    width: 40px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    align-items: center ;
    border-radius: 50%;
}

.comment-delete-btn:hover
{
    background: tomato ;
}

.comment-delete-btn-2:hover
{
    background: tomato ;
}

.comment-delete-btn button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
}

.comment-delete-btn-2 button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 100%;
    width: 100%;
}

.comment-delete-btn button i
{
    font-size: 18px;
    color: #fff
}

.comment-delete-btn-2 button i
{
    font-size: 18px;
    color: #fff
}

.comment.author-comment p{
    order:                  1;
    }

.user-comment-text-box:after
{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  left: -10px;
  top: 3px;
  border-right: 20px solid #EDF1EE;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(35deg); -webkit-transform: rotate(35deg);
}


.author-comment-text-box:after
{
  content: '';
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  right: -10px;
  top: 3px;
  border-left: 20px solid #8de055;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(-35deg); -webkit-transform: rotate(-35deg);
}

/* comment text area */

.write-new textarea{
    background:                    #fff;
    border:                        none;
    border-bottom:    2px solid #dbdbdb;
    color:                         #666;
    font-family: 'Open Sans' sans-serif;
    font-size:                      1em;
    height:                       130px;
    transition:       border-color 0.3s;
    width:                         100%;
    appearance:                    none;
    -webkit-appearance:            none;
    -moz-appearance:               none;
    padding:                  15px 20px;
    line-height:                   1.75;
    letter-spacing:              0.05em;
    }

.write-new textarea:focus{
    outline:                       none;
}

.write-new img{
    border-radius:        50%;
    background:       #eeeeee;
    width:               70px;
    height:              70px;
    overflow:          hidden;
    text-align:        center;
    }

.comment-btn-wrapper
{
    display: flex ;
    justify-content: space-between;
    margin:10px;
    justify-items: center ;
    align-items: center ;
    vertical-align: middle ;
}

.write-new button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: var(--main-color);
    color:               #fff;
    font-weight:         bold;
    cursor:           pointer;
    padding: 13px;
    font-size: 16px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


.write-new button:hover
{
    opacity:0.7;
}

.write-new label,
.write-new .errorlist{
    display: none;
    }

.write-new span{
    position:   relative;
    top:            12px;
    font-size:      12px;
    }

.global-footer{
    margin:     100px auto;
    }



/* right style */

.right
{
    /*background: ghostwhite;*/
    width: 30%;
    height: 1600%;
    display: flex ;
    flex-direction: column ;
    float:right;
}

.right-wrapper
{
    position: -webkit-sticky ;
    position: sticky ;
    top: 0;
}

/* search box */

.form-search
{
    background: rgba(234, 242, 245, 0.62);
    width: 90%;
    height: 47px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 3px;
    margin-bottom: 15px;
    font-size: 15px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.form-search input[type="text"]
{
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
}

.search-input{
    width: 100%;
    height: 100%;
    border-radius: 20%;
    position: relative ;
    font-size: 18px;
    font-weight: 600;
    margin-left: 18px;
}

.form-search i
{
    font-size: 18px;
    margin-left: 10px;
    color: gray ;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.form-search.active
{
    background: #fff;
    border: 1px solid var(--main-color);
}

.form-search.active i
{
    color: var(--main-color);
}

/* おすすめアーティクル */

.favorite-articles
{
    background: rgba(234, 242, 245, 0.62);
    width: 90%;
    height: 480px;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.favorite-title
{
    padding: 10px ;
    border-bottom: 1px solid #C0C0C0;
}

.favorite-wrapper
{
    display: flex ;
    justify-content: space-between ;
    border-bottom: 1px solid #C0C0C0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-wrapper:hover
{
    background: rgb(225, 232, 237) ;
}

.favorite-category
{
    color: gray ;
    line-height: 2;
}

.favorite-items
{
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}

.favorite-items a
{
    color:#333;
}

.favorite-items span
{
   margin-left: 10px;
   font-size: 18px;
   font-weight: 600;
}

.favorite-thumb
{
    position: relative ;
    right: 10px;
}

.favorite-thumb img
{
    height: 50px;
    border-radius: 10px;
}

.favorite-info
{
    padding: 14px;
    padding-bottom: 22px;
}

.favorite-info:hover
{
    background: rgb(225, 232, 237) ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.favorite-info h4
{
    color: #00acee ;
    font-weight: 200;
}

/* おすすめユーザー */

.users
{
    background: rgba(234, 242, 245, 0.62);;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.users-title
{
    padding: 10px ;
    border-bottom: 1px solid #C0C0C0;
}

.users-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    vertical-align: middle;
    margin: 10px 10px 10px 10px ;
}

.users-wrapper
{
    border-bottom: 1px solid #C0C0C0;
}

.users-wrapper:last-child
{
    border-bottom: none ;
}

.users-wrapper:hover
{
    background: rgb(225, 232, 237) ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.users-box img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:2px solid #fff;
}

.users-items span:hover
{
    text-decoration: underline;
}

.web-info, .web-info a
{
    text-align: center ;
    color: gray ;
    margin-top: 10px;
}

.web-info span
{
    font-size: 15px;
    padding-right: 10px;
}

.web-info span:hover
{
    text-decoration: underline;
}

.copyright p
{
    font-size: 14px;
    margin-top: 6px;
}


/* mobile nav */

.mobile-nav
{
    position: fixed ;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
}

.mobile-nav-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-nav-icon
{
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-nav-icon:hover
{
    color: var(--main-color);
}

.mobile-nav-icon:active
{
    color: var(--main-color);
}

.mobile-nav .live_notify_badge
{
    font-size: 10px;
}

/* mobile create */

.mobile-create-circle
{
    position:           fixed;
    width:               60px;
    height:              60px;
    background-color: var(--main-color);
    border-radius:        50%;
    bottom:              68px;
    right:               10px;
    z-index:               11;
    border:                 0;
    padding:                0;
    cursor:           pointer;
    trasition:transform   .4s;
    outline:             none;
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
}

.mobile-create-circle a
{
    color: #fff;
}

.mobile-create-circle i
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    font-size: 20px;
}

.mobile-create-circle.small
{
    width:               42px;
    height:              42px;
}

.mobile-create-circle.small i
{
    font-size: 16px;
}


/* pagination */

ul{
    padding:                  0;
    list-style-type:       none;
    }

.pager{
    position:          relative;
    top:                   30px;
    padding:               30px;
    }

.pager .pagination {
  text-align:            center;
    }

.pager .pagination li {
  display:               inline;
  margin:                 0 2px;
  padding:                    0;
  display:         inline-block;
  width:                   50px;
  height:                  50px;
  text-align:            center;
  position:            relative;
  border-radius:           50px;
  border:        1px solid #fff;
    }

.pager .pagination li.pre,
.pager .pagination li.next{
  background:            #a3e4e4;
  color:                    #fff;
    }

.pager .pagination li a{
  vertical-align:            middle;
  position:                absolute;
  top:                            0;
  left:                           0;
  width:                       100%;
  height:                      100%;
  text-align:                center;
  display:                    table;
  text-decoration:             none;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  transition:        all  0.3s ease;
    }

.pager .pagination li.pre a,
.pager .pagination li.next a{
  color:                       #fff;
    }

.pager .pagination li a span{
  display:               table-cell;
  vertical-align:            middle;
    }

.pagination li a
{
    color: #333;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color:                                #fff;
  background:                        #dde68e;
  border-radius:                        10px;
  border-radius:                        50px;
  animation:         animScale 0.4s ease-out;
  transform-origin:                  50% 50%;
  -webkit-animation: animScale 0.4s ease-out;
  -webkit-transform-origin:          50% 50%;
  -moz-animation: animScale    0.4s ease-out;
  -moz-transform-origin:             50% 50%;
    }

@keyframes animScale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
    }

@-webkit-keyframes animScale {
  0% { -webkit-transform: scale(0.8, 0.8); }
  40% { -webkit-transform: scale(1.2, 1.2); }
  60% { -webkit-transform: scale(1, 1); }
  80% { -webkit-transform: scale(1.1, 1.1); }
  100% { -webkit-transform: scale(1, 1); }
    }

@-moz-keyframes animScale {
  0% { -moz-transform: scale(0.8, 0.8); }
  40% { -moz-transform: scale(1.2, 1.2); }
  60% { -moz-transform: scale(1, 1); }
  80% { -moz-transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); }
    }


@media only screen and (max-width: 767px){
  .pager .pagination li{
    display:                     none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display:            inline-block;
    width:                      42px;
    height:                     42px;
    text-align:               center;
    margin:                   0 auto;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width:                      100%;
    text-align:               center;
  }
}

/* global footer */

.global-footer{
    margin:     100px auto;
    }

/* @media */

@media (max-width: 600px)
{
    .left
    {
        display: none ;
    }
    .right
    {
        display: none ;
    }
    .center-header
    {
        display:none;
    }
    .center
    {
        width: 100%;
        margin-top: 0px;
    }
    .mobile-nav
    {
        z-index: 1;
    }
    .title_wrapper
    {
        font-size: 20px;
    }
    .sub_title
    {
        margin-top: 20px;
    }
}


@media (min-width: 600px)
{
    .mobil-nav-wrapper
    {
        display:none;
    }
    .mobile-nav
    {
        display:none;
    }
    .mobile-create-circle
    {
        display:none;
    }
}

/* comment responsive */

@media(max-width: 800px){
    .comment p {
        width:      100%;
    }

    .comment.user-comment .info{
        order:         3;
        text-align: left;
    }

    .comment.user-comment .avatar{
        order:         2;
    }

    .comment.user-comment p{
        order:         1;
    }

    .comment.author-comment{
        justify-content: flex-start;
    }

    .comment-section{
        margin-top:         10px;
    }

    .comment .info{
        width:              auto;
    }

    .comment .info a{
        padding-top:        15px;
    }

    .comment.user-comment .avatar,
    .comment.author-comment .avatar{
        padding: 15px 10px 0 18px;
        width:               auto;
        position:        relative;
        bottom:              13px;
    }

    .comment.user-comment p:after,
    .comment.author-comment p:after{
        width:               12px;
        height:              12px;
        top:              initial;
        left:                28px;
        bottom:              -6px;
    }

    .write-new{
        width:               100%;
    }
}


/* articles icon text box responsive */

@media (max-width: 600px)
{
   .articles-icon-box
    {
        justify-content: space-between ;
    }
    .articles-icon-box .article_delete .icon-description
    {
        font-size: 10px;
    }
    .icon-description
    {
        font-size: 10px;
        margin-left: 8px
    }
    .articles-sum
    {
        font-size: 12px;

    }
}
