:root
{
    --main-color: #00acee;
    --hover-color:rgba(29, 161, 242, 0.07);
}

*, *::before, *::after
{
     box-sizing: border-box;
}

*
{
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior:smooth;
}

body
{
    font-family: Arial, "ヒラギノ角ゴ Pro W3",
                        "Hiragino Kaku Gothic Pro",
                         Osaka,
                         メイリオ,
                         Meiryo,
                         "ＭＳ Ｐゴシック",
                          "MS PGothic",
                          sans-serif;
}

ul
{
    list-style: none ;
}

a
{
    text-decoration: none ;
}

.container
{
    max-width: 1200px;
    margin: auto ;
    display:flex;
}

.global-tag
{
    text-align:center ;
    margin-bottom: 20px;
}


/* mobil header */

.mobil-nav-wrapper
{
    position: fixed ;
    top: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
    z-index: 2;
    justify-content: space-between ;
    transition: transform 0.4s;
}


.mobile-nav-top-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    /*flex-grow: 1;*/
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.mobile-profile-container img
{
    border-radius:50%;
    width:30px;
    height:30px;
}

.mobile-profile-container i
{
    color: #333;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-profile-container .fa-info-circle
{
    color: var(--main-color) ;
}

.mobile-wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:30px;
    width:30px;
    border-radius:50%;
    z-index:1;
    position:relative;
    background:var(--main-color);
}

.mobile-logo_1
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    top: -13px;

}

.mobile-logo_2
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(110%) ;
    -webkit-transform: translateX(110%);
    top: 1px;
}



.mobile-nav-top-link button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mobile-nav-top-link button i
{
    cursor: pointer;
    font-size: 16px;
    color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-center-name
{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 18px;
    font-weight: 900;
    color:rgb(20, 23, 26);
}


/* left style */

.left
{
    float: left;
    width: 10%;
    height:160vh;
}

.left ul
{
    position: -webkit-sticky ;
    position: sticky ;
    top: 0;
}

.wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:70px;
    width:70px;
    border-radius:50%;
    z-index:1;
    border:double 10px #fff;
    position:relative;
    background:#555d66;
    }

.logo_1
{
    position:absolute;
    top:-6px;
    left:10px;
    font-size:30px;
    color: #fff;
}

.logo_2
{
    position:absolute;
    top:10px;
    left:24px;
    font-size:30px;
    color: #fff;
}

.logo:hover
{
    background-color: unset!important;
}

.left ul li
{
    font-size: 24px;
    padding: 3px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.left ul li a
{
    color: var(--main-color);
}

.icon-circle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.icon-circle:hover
{
    background: var(--hover-color);
    border-radius: 50px;
}

.icon-container:hover
{
    color: rgb(29, 161, 242) ;
}

.create-btn-container
{
   text-align: center ;
   margin-top: 20px;
}

.create-btn
{
    background: #1da1f2;
    color: #fff;
    font-size: 23px;
    border: none ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.create-btn:hover
{
    cursor: pointer ;
    background: rgba(0, 148, 255, 0.97);
}

.profile-pic
{
    border-radius:50%;
    width:40px;
    height:40px;
}

.profile-link
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
    color: rgb(101,119,134);
}

.icon-link
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.icon-container
{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    color:rgb(101,119,134);
    border-radius: 50%;
    position:relative;
}


.fa-ellipsis-h
{
    border-radius:50%;
    border: 2px solid rgb(20, 23, 26);
    width:30px;
    height:30px;
    display: flex ;
    justify-content: center ;
    align-items: center
}

.fa-ellipsis-h:hover
{
   border: 2px solid rgb(29, 161, 242) ;
}

.number{
    background:  #00acee;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute ;
    transform: translateX(67%) translateY(-150%);
     -webkit-transform: translateX(67%) translateY(-150%);
    z-index: 1;
}

.live_notify_badge
{
    font-size: 12px;
    color: #fff;
}

.user-checking
{
    margin-left: 10px;
}



/* center style */

.center
{
    width: 80%;
    float: left ;
}

.center-header
{
    display: flex ;
    padding-top: 10px;
}

.header-return
{
    padding: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative ;
}

.header-return a
{
    color: var(--main-color);
}

.header-return i
{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.header-return:hover
{
    background:var(--hover-color);
}

.header-name
{
    margin-left: 20px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    align-items: center ;
}

.header-name h3
{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 26px;
    color:rgb(20, 23, 26);
}

.center-wrapper h1{
    text-align:                 center;
    margin:                  40px auto;
    font-size:                   2.2em;
    color: #333;
    overflow-wrap:          break-word;
    word-wrap:              break-word;
    }


/* right style */

.right
{
    /*background: ghostwhite;*/
    width: 10%;
    height: auto;
    display: flex ;
    float:right;
}


/* content */

/* articles */

.article-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    vertical-align: middle;
    margin: 10px  10px 10px  10px ;
}

.following-feed-wrapper
{
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-left: 1px solid #C0C0C0;
    width: 60%;
    margin: 0 auto ;
}

.following-feed-wrapper:hover
{
    background: rgb(245, 248, 250) ;
}

.articles-item img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.articles-item small
{
    color: gray ;
}

.following-articles
{
    margin: 2px;
}

.articles-thumb
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.articles-thumb img
{
    width: 100%;
    height: auto;
}

.articles-description
{
    margin: 14px;
}

.articles-description h2
{
    font-size: 1em;
}

.articles-description p
{
    padding-top: 10px;
}

.articles-description small
{
    color: gray ;
    font-size: 12px
}

.articles-icon
{
    margin:10px;
}

.icon-items
{
    padding-right: 2px;
    color: gray ;
}

.icon-items a
{
    color: gray ;
}

.icon-items .fa-edit
{
    margin-left: 4px;
}

.icon-items .fa-edit:hover
{
    color: rgb(23, 191, 99);
}

.liked .liked_heart
{
    color:rgb(253, 29, 29);
}

.liked span
{
    color:rgb(253, 29, 29);
}

.articles-icon ul li
{
    margin: 0;
}

.articles-icon-wrapper
{
    display: flex ;
    width: 80px;
    height: 50px;
    justify-content: left;
    align-items: center ;
    margin: 0;
    padding: 0;
    margin-right: -20px;
}

.articles-hover
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    vertical-align: middle ;
    line-height: 10px;
    padding: 7px;
    cursor: pointer;
}

.articles-hover:hover
{
    background: var(--hover-color);
}

.heart-circle:hover
{
    background: rgba(255, 71, 231, 0.12)
}

.edit-circle:hover
{
    background: rgba(24, 218, 28, 0.14);
}

.articles-sum
{
    display: inline-block;
    justify-content: center ;
    align-items: center ;
    margin-left: 3px;
    font-size: 14px;
}


/* categories */

.categories_wrapper{
    margin:                              0;
    padding:                             0;
    }

.categories{
    text-align:                    center;
    }

.categories h2{
    display:                  inline-block;
    text-transform:              uppercase;
    font-size:                        30px;
    padding-bottom:                   6px;
    margin-top:                       40px;
    color: #333;
    font-weight: 800;
    }


.categories h4{
    display:                  inline-block;
    font-size:                        30px;
    color:                            #fff;
    position:                     relative;
    bottom:                           10px;
    z-index:                             1;
    opacity:                           0.4;
    }

.cen{
    max-width:                     1200px;
    margin:                          auto;
    overflow:                      hidden;
    padding:                         20px;
    }

.category{
    display:                 inline-block;
    width:                  calc(100% /7);
    margin:             1px -2px 1px -2px;
    padding:                         20px;
    box-sizing:                border-box;
    cursor:                       pointer;
    transition:                      0.4s;
    background: var(--main-color);
    border-radius:                   10px;
    margin-left:                     -1px;
    }

.category:hover
{
    opacity: 0.7;
}

.category h5{
    font-size:            18px;
    text-transform:  uppercase;
    font-weight:           500;
    color:                #fff;
    margin:                  0;
    line-height: 2;
    }

.category_description{
    display:   flex;
    height:    30px;
    }

.category_description p{
    color:              white;
    font-size:           10px;
    font-weight:          500;
    margin:            0 auto;
    letter-spacing:       1.7;
    word-break:      keep-all;
    }

@media screen and (max-width: 800px){
    .category{
        width: 30%;
    }
}

@media screen and (max-width: 500px){
    .category{
        width: 50%;
    }
}



/* gallery */

#gallery{
  -webkit-column-count:  4;
  -moz-column-count:     4;
  column-count:          4;

  -webkit-column-gap:  6px;
  -moz-column-gap:     6px;
  column-gap:          6px;
    }

@media (max-width:1200px){
  #gallery{
  -webkit-column-count:  3;
  -moz-column-count:     3;
  column-count:          3;

  -webkit-column-gap:  6px;
  -moz-column-gap:     6px;
  column-gap:          6px;
    }
}

@media (max-width:800px){
  #gallery{
  -webkit-column-count: 2;
  -moz-column-count:    2;
  column-count:         2;

  -webkit-column-gap: 6px;
  -moz-column-gap:    6px;
  column-gap:         6px;
    }
}

@media (max-width:600px){
  #gallery{
  -webkit-column-count:3;
  -moz-column-count:   3;
  column-count:        3;

  -webkit-column-gap:2px;
  -moz-column-gap:   2px;
  column-gap:        2px;
    }
}

.gallery-img-wrapper
{
    height: 300px;
    display: inline-block ;
}

.card{
    width:            100%;
    height:           100%;
    object-fit: cover ;
    }

/* gallery link icon */

.fa-external-link-alt{
    position:               relative;
    top:                         3px;
    color:                   #fff;
    }

.icon-size{
    font-size:                 0.8em;
    }

.link_box{
    display: flex ;
    justify-content: flex-end ;
    position: relative ;
    top: -23px;
    }
.link_box i
{
    color: #fff;
    padding-right: 6px;
}


/* swiper */

.swiper{
    display:                       flex;
    justify-content:             center;
    align-items:                 center;
    padding-top:                   80px;
    padding-bottom:80px;
    }

.swiper-card{
    background:          #fafafa;
    margin:               0 auto;
    padding:                   0;
    max-width:              100%;
    position:           relative;
    height:                463px;
    }

.swiper-card .sliderContent{
    width:                  100%;
    padding:                10px;
    box-sizing:       border-box;
    position:           relative;
    bottom:                 20px;
    text-align:             left;
    margin-left:             6px;
    }

.swiper-card .sliderContent a{
    display:        inline-block;
    margin:             10px 0 0;
    padding:           10px 20px;
    text-decoration:        none;
    border:    2px solid #32373c;
    color:               #32373c;
    font-weight:             600;
    position:           relative;
    top:                    20px;
    }

.sliderUsername{
    color:                  #eee;
    text-align:           center;
    position:           relative;
    bottom:                 50px;
    font-weight:             400;
    margin:                    0;
    padding:                   0;
    }

.swiper-card .sliderText{
    position:           relative;
    width:                  100%;
    height:                200px;
    display:                flex;
    justify-content:      center;
    align-items:          center;
    background:          #32373c;
    }

.swiper-card .sliderText h3{
    color:                  #eee;
    font-size:              23px;
    text-align:           center;
    }

.swiper-slide{
    width:                  100%;
    background:             #eee;
    }

.swiper-container {
    width:                  370px;
    height:                 463px;
    }

.swiper-wrapper h4{
    margin:                0 auto;
    font-size:               20px;
    }


/* profile card */

.user_profile_card {
  box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
  max-width:                           380px;
  margin:                               auto;
  margin-bottom:                       180px;
  text-align:                         center;
  position:                         relative;
  top:                                  80px;
  word-wrap:                      break-word;
    }

.user_profile_card h3{
    font-size:    2em;
    margin-bottom: 10px;
    }

.user_profile_card ul{
    font-size:               0;
    margin:               10px;
    }

.user_profile_card li{
    display:        inline-block;
    padding:                   0;
    margin:                    0;
    color:                  gray;
    font-family:          'lato';
    font-size:              12px;
    width:                   35%;
    text-transform:    uppercase;
    }

.user_profile_bio {
    color:                        grey;
    font-size:                    14px;
    line-height:                  1.75;
    letter-spacing:             0.05em;
    text-align:                   left;
    margin-left:                   6px;
    margin-right: 5px;
    }

.user_profile_btn {
    font-family:    'lato';
    border:           none;
    outline:             0;
    display:  inline-block;
    padding:           8px;
    color:           white;
    background-color: #000;
    text-align:     center;
    cursor:        pointer;
    width:            100%;
    font-size:        18px;
    }

.user_profile_btn_unfollow {
    font-family:    'lato';
    border:           none;
    outline:             0;
    display:  inline-block;
    padding:           8px;
    color:           white;
    background-color: tomato;
    text-align:     center;
    cursor:        pointer;
    width:            100%;
    font-size:        18px;
    }

.user_profile_website{
    padding:        12px;
    }

.user_profile_website a {
    text-decoration:  none;
    font-size:        12px;
    }

.user_profile_btn:hover {
    opacity:           0.7;
  }

.user_profile_btn_unfollow:hover{
    opacity:           0.7;
    }


/* about */

.about{
    margin:                         0;
    padding:                        0;
    font-family:  Helvetica Neue LT,Helvetica Neue,-apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif;

    }

.about_wrapper{
    display:            flex;
    justify-content:  center;
    align-self:       center;
    min-height:        100vh;
    background:         #fff;
    margin-top:         20px;
    }

.about_container{
    position:                   relative;
    max-width:                      100%;
    display:                        grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows:                      minmax(100px, auto);
    margin:                         0px;
    grid-auto-flow:                dense;
    grid-gap:                       10px;
    }

.about-description
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    align-items: center ;
}

.about_content p{
    text-align:                     left;
    line-height:                    1.75;
    letter-spacing:               0.04em;
    font-size: 20px;
    color: #14171a;
    }

.about_box{
    background:      #fff;
    padding:                        20px;
    display:                        grid;
    font-size:                      20px;
    place-items:                  center;
    text-align:                   center;
    transition:                     0.5s;
    border-bottom: 1px solid #C0C0C0;
    border-top: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;;
    border-left: 1px solid #C0C0C0;
    }

.about_box:hover{
    background: rgb(245, 248, 250);
    }

.about_box span{
    position:                   relative;
    max-width:                     100px;
    font-size:                      42px;
    color: var(--main-color) ;
    font-weight: 700;
    line-height: 2;
    word-break: break-word ;
    }

.about_box:nth-child(1)
    {
    grid-column: :span 2;
    grid-row:     span 1;
    }
.about_box:nth-child(2)
    {
    grid-column:  span 1;
    grid-row:     span 3;
    }
.about_box:nth-child(4)
    {
    grid-column: span 1;
    grid-row:    span 3;
    }
.about_box:nth-child(5)
    {
    grid-column: span 2;
    grid-row:    span 1;
    }


@media(max-width: 991px)
{
    .about_container
    {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    grid-template-rows:                     minmax(auto, auto);
    }
    .about_box
    {
    grid-column: unset !important;
    grid-row:    unset !important;
    }
}

/* privacy policy */

.privacy h3{
    text-align:             center;
    margin:              30px auto;
    }

.privacy p{
    width:                     80%;
    margin:                 0 auto;
    line-height:               1.5;
    letter-spacing:         0.05em;
    font-size:               0.9em;
    }



/* site-form */

.site-form{
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
    background:          #fff;
    margin:             3em auto;
    padding:               0 1em;
    max-width:             370px;
    }

.site-form input, .site-form textarea, .site-form select{
    display:              block;
    margin:          20px 0 0 0;
    padding:               10px;
    background-color:   #fff;
    color:              #383838;
    border:  2px solid  #AEC4E5;
    border-radius:          4px;
    font-size:              1em;
    letter-spacing:      0.05em;
    position:          relative;
    top:                  -13px;
    width:                 100%;
    max-width:            400px;
    box-sizing:      border-box;
    -webkit-transition: all .3s;
    transition:         all .3s;
    outline:               none;
    }


.site-form input:focus, .site-form textarea:focus, .site-form select:focus{
    box-shadow: 0 0 4px  #AEC4E5;
    border:   1px solid  #AEC4E5;
    }


.site-form label{
    color:                 #383838;
    cursor:                pointer;
    }


.site-form select{
    -webkit-appearance:  none;
    -moz-appearance:     none;
    appearance:          none;
    }


.form_group label{
    position:        relative;
    top:                 13px;
    }

.form_group small{
    position:        relative;
    top:                 20px;
    }

.column_1 input{
    background-color: #fafafa;
    color:            #383838;
    border:               2px solid  #AEC4E5;
    border-radius:        4px;
    font-size:            1em;
    letter-spacing:    0.05em;
    }

.column_1 label{
    position: relative;
    top:          -8px;
    }

.column_2 textarea{
    background-color:#fafafa;
    color:           #383838;
    border:              2px solid #AEC4E5;
    border-radius:       4px;
    font-size:           1em;
    letter-spacing:   0.05em;
    width:              100%;
    max-width:         500px;
    box-sizing:   border-box;
    }

.column_2 label{
    position: relative;
    top:          -8px;
    }

.form_group small{
    position:   relative;
    top:          -0.1px;
    }

.site-form h3{
    font-family: 'Roboto', sans-serif;
    text-align:                center;
    padding:                     20px;
    }

.icon_helptext{
    position:   relative;
    top:            10px;
    margin:    10px auto;
    padding:         1px;
    font-size:      12px;
    }

.site-form a{
    color:       #383838;
    }

.site-form span{
    font-size:     12px;
    }

#thumb-clear_id{
    display:          none;
    }

.site-form p:nth-of-type(3) label:nth-of-type(2){
    display:         none;
    }


/* Nwe Form Layout */

.form-wrapper{
    box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
    background:          #fff;
    margin:             3em auto;
    padding:               0 1em;
    max-width:             370px;
    }

.form-wrapper h2{
    text-align:             center;
    padding:                 1em 0;
    color: #333;
    }

.site-form-new{
    padding:               0;
    }

.form-item{
    margin-bottom:          0.75em;
    width:                    100%;
    }

.form-item input{
    background:                 #fff;
    border:                        none;
    border-bottom:    2px solid #e9e9e9;
    color:                         #666;
    font-family: 'Open Sans' sans-serif;
    font-size:                      1em;
    height:                        50px;
    transition:       border-color 0.3s;
    width:                         100%;
    }

.form-item input:focus{
    border-bottom:    2px solid #c0c0c0;
    outline:                       none;
    }

.form-item textarea{
    background:                 #fff;
    border:                        none;
    border-bottom:    2px solid #e9e9e9;
    color:                         #666;
    font-family: 'Open Sans' sans-serif;
    font-size:                      1em;
    height:                        250px;
    transition:       border-color 0.3s;
    width:                         100%;
    appearance:                    none;
    -webkit-appearance:            none;
    -moz-appearance:               none;
    }
.form-item textarea:focus{
    border-bottom:    2px solid #c0c0c0;
    outline:                       none;
    }

.button-panel{
    margin:                     2em 0 0;
    width:                         100%;
    }

.button-panel .button-new {
    background:                     #f16272;
    border:                            none;
    color:                             #fff;
    cursor:                         pointer;
    height:                            50px;
    font-family:    'Open Sans', sans-serif;
    font-size:                        1.2em;
    letter-spacing:                  0,05em;
    text-align:                      center;
    text-transform:               uppercase;
    transition: background 0.3s ease-in-out;
    width:                             100%;
    }

.button-panel .button-new:hover{
    background:                     #ee3e52;
    }

.button-panel .button-new-color {
    background:                     #00dba0;
    border:                            none;
    color:                             #fff;
    cursor:                         pointer;
    height:                            50px;
    font-family:    'Open Sans', sans-serif;
    font-size:                        1.2em;
    letter-spacing:                  0,05em;
    text-align:                      center;
    text-transform:               uppercase;
    transition: background 0.3s ease-in-out;
    width:                             100%;
    }

.button-panel .button-new-color:hover{
    background:                     #FB7D79;
    }

/* category select form */

.category_wrapper{
    position:     relative;
    width:            100%;
    margin:       2em auto;
    text-align:     center;
    }
.category_form{
    position:                     relative;
    background-color:          transparent;
    width:                            100%;
    padding:              10px 10px 10px 0;
    border-radius:                       0;
    border:                           none;
    border-bottom:       2px solid #e9e9e9;
    color:                            #666;
    font-family:   'Open Sans', sans-serif;
    font-size:                        14px;
    letter-spacing:                 0,05em;
    }

.category_form:focus{
    outline:                           none;
    border-bottom:       2px solid  #c0c0c0;
    }

.category_wrapper .category_form{
    appearance:                       none;
    -webkit-appearance:               none;
    -moz-appearance:                  none;
    }

.category_wrapper select::-ms-expand{
    display:                          none;
    }

.category_wrapper:after{
    position:                       absolute;
    top:                                18px;
    right:                              10px;
    width:                                 0;
    height:                                0;
    padding:                               0;
    content:                              '';
    border-left:       6px solid transparent;
    border-right:      6px solid transparent;
    border-top: 6px solid rgba(0, 0, 0, 0.3);
    pointer-events:                     none;
    }

.category_select_label{
    color:                          #adacac;
    font-family:    'Open Sans', sans-serif;
    font-size:                         16px;
    font-weight:                     normal;
    position:                      absolute;
    pointer-events:                    none;
    left:                                 0;
    top:                               10px;
    transition:               0.2s ease all;
    }

.category_form:focus ~ .category_select_label, .category_form:valid ~
.category_select_label{
    top:                -20px;
    transition: 0.2s ease all;
    font-size:           12px;
    color:            #c0c0c0;
    }

.category_select_bar{
    position:        relative;
    display:            block;
    width:               100%;
    }

.category_select_bar:before, .category_select_bar:after{
    content:                  '';
    height:                  2px;
    width:                     0;
    bottom:                  1px;
    position:           absolute;
    background:          #c0c0c0;
    transition:    0.2s ease all;
    }

.category_select_bar:before {
    left:                   50%;
    }

.category_select_bar:after {
    right:                  50%;
    }

.category_form:focus ~ .category_select_bar:before,
.category_form:focus ~ .category_select_bar:after {
    width:                   50%;
    }

.category_highlight {
    position:           absolute;
    top:                     25%;
    left:                      0;
    pointer-events:         none;
    opacity:                 0.5;
    }

/* progress bar */

.p_container {
  width:         auto;
  padding-top:    0px;
  padding-right:  0px;
  padding-left:   0px;
  margin-right:  auto;
  margin-left:   auto;
 }

@media (min-width: 280px) {
  .p_container {
    max-width: 360px;
  }
}

@media (min-width: 380px) {
  .p_container {
    max-width: 360px;
  }
}

@media (min-width: 480px) {
  .p_container {
    max-width: 460px;
  }
}

@media (min-width: 576px) {
  .p_container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .p_container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .p_container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .p_container {
    max-width: 1140px;
  }
}

.progress {
  display:      -ms-flexbox;
  display:             flex;
  height:            1.5rem;
  overflow:          hidden;
  font-size:           1rem;
  background-color: #e9ecef;
  border-radius:    0.25rem;
  max-width:          370px;
    }

.progress-bar {
  display:       -ms-flexbox;
  display:              flex;
  -ms-flex-direction: column;
  flex-direction:     column;
  -ms-flex-pack:      center;
  justify-content:    center;
  color:                #fff;
  text-align:         center;
  white-space:        nowrap;
  background-image: linear-gradient(120deg, #91e9fd 0%, #5188fb 100%);;
  transition: width 0.6s ease;
    }

/* form footer */

.form-logout-footer
{
    text-align: center ;
    position: relative ;
    top: 20px;
}

.form-logout-footer button
{
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    appearance: none;
}

.form-logout-footer button p
{
    font-size: 13px;
    color:  #8c8c8c;
}

.form-footer {
  font-size:                    1em;
  padding:                    2em 0;
  text-align:                center;
    }

.form-footer p
{
   padding-top: 30px;
}

.form-footer a {
  color:                    #8c8c8c;
  text-decoration:             none;
  transition:     border-color 0.3s;
    }

.form-footer a:hover {
  border-bottom: 1px dotted #8c8c8c;
    }

.form-footer button{
    float:                     left;
    position:              relative;
    top:                        0px;
    background:             #fafafa;
    }

.helptext, .helptext ul{
    margin:       0 auto 30px;
    color:            #ee8d88;
    font-size: :        0.9em;
    display:            block;
    }

.errorlist li{
    padding:           10px;
    list-style-type:   none;
    color:          #ff5722;
    opacity:            0.5;
    }

.form_group{
    margin:           30px auto;
    }

input[type="file"]{
    display:               none;
    }

#input-label{
    margin:            8px auto;
    display:       inline-block;
    padding:          0.3em 1em;
    text-decoration:       none;
    color:              #6088C6;
    border:                 2px solid   #AEC4E5;
    border-radius:          4px;
    transition:             .4s;
    }

#input-label:hover {
    background:        #6088C6;
    color:                #fff;
    }

#input-label::after{
    content:         "choice";
    font-size:           12px;
    }

#input-label.changed::after{
    content:             "";
    }

.filename{
    font-size:         10px;
    margin:            16px;
    padding:           10px;
    position:      relative;
    top:               12px;
    }

/* pagination */

ul{
    padding:                  0;
    list-style-type:       none;
    }

.pager{
    position:          relative;
    top:                   30px;
    padding:               30px;
    }

.pager .pagination {
  text-align:            center;
    }

.pager .pagination li {
  display:               inline;
  margin:                 0 2px;
  padding:                    0;
  display:         inline-block;
  width:                   50px;
  height:                  50px;
  text-align:            center;
  position:            relative;
  border-radius:           50px;
  border:        1px solid #fff;
    }

.pager .pagination li.pre,
.pager .pagination li.next{
  background:            #a3e4e4;
  color:                    #fff;
    }

.pager .pagination li a{
  vertical-align:            middle;
  position:                absolute;
  top:                            0;
  left:                           0;
  width:                       100%;
  height:                      100%;
  text-align:                center;
  display:                    table;
  text-decoration:             none;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  transition:        all  0.3s ease;
    }

.pager .pagination li.pre a,
.pager .pagination li.next a{
  color:                       #fff;
    }

.pager .pagination li a span{
  display:               table-cell;
  vertical-align:            middle;
    }

.pager .pagination li a
{
    color: #333;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color:                                #fff;
  background:              var(--main-color);
  border-radius:                        10px;
  border-radius:                        50px;
  animation:         animScale 0.4s ease-out;
  transform-origin:                  50% 50%;
  -webkit-animation: animScale 0.4s ease-out;
  -webkit-transform-origin:          50% 50%;
  -moz-animation: animScale    0.4s ease-out;
  -moz-transform-origin:             50% 50%;
    }

@keyframes animScale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
    }

@-webkit-keyframes animScale {
  0% { -webkit-transform: scale(0.8, 0.8); }
  40% { -webkit-transform: scale(1.2, 1.2); }
  60% { -webkit-transform: scale(1, 1); }
  80% { -webkit-transform: scale(1.1, 1.1); }
  100% { -webkit-transform: scale(1, 1); }
    }

@-moz-keyframes animScale {
  0% { -moz-transform: scale(0.8, 0.8); }
  40% { -moz-transform: scale(1.2, 1.2); }
  60% { -moz-transform: scale(1, 1); }
  80% { -moz-transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); }
    }


@media only screen and (max-width: 767px){
  .pager .pagination li{
    display:                     none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display:            inline-block;
    width:                      42px;
    height:                     42px;
    text-align:               center;
    margin:                   0 auto;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width:                      100%;
    text-align:               center;
  }
}

/* notification box */

.article_detail_author_img{
    background:       #eeeeee;
    width:               60px;
    height:              60px;
    overflow:          hidden;
    border-radius:        50%;
    border: 2px solid #eeeeee;
    position:        relative;
    top:                  0px;
    z-index:                1;
    }

.img-cover{
    display:         inline;
    margin:          0 auto;
    height:            100%;
    widows:            auto;
    }

.notification_wrapper_all{
    font-family: "Segoe UI", Meiryo, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
    margin:                             0;
    padding:                            0;
    box-sizing:                border-box;
    }

.notification_wrapper{
    max-width:                      500px;
    margin:                  0 auto;
    }

.notification_wrapper .notification_icon{
    position:      relative;
    width:             50px;
    height:            50px;
    font-size:         32px;
    margin:          0 auto;
    text-align:      center;
    color: var(--main-color);
    }

.notification_wrapper .drop-down{
   box-shadow: 0 2.8px 2.2px rgba(0,0,0,.02),
    0 6.7px 5.3px rgba(0,0,0,.028),
    0 12.5px 10px rgba(0,0,0,.035),
    0 22.3px 17.9px rgba(0,0,0,.042),
    0 41.8px 33.4px rgba(0,0,0,.05),
    0 100px 80px rgba(0,0,0,.07);
    background:          #fafafa;
    margin:             1em auto;
    padding:               0 1em;
    max-width:             370px;
    position:           relative;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    }


.notification_wrapper .drop-down .notify_item{
    display:                    flex;
    align-items:              center;
    padding:                  10px 0;
    border-bottom: 1px solid #dbdaff;
    }


.notification_wrapper .drop-down .notify_item:last-child{
    border-bottom: 0px;
    }

.notification_wrapper .drop-down .notify_item .notify_img{
    margin-right: 15px;
    }

.notification_wrapper .drop-down .notify_item .read{
    width:  70%;
    color: #bbb;
    }

.notification_wrapper .drop-down .notify_item .read .notify_time{
    font-size: 12px;
    }

.notification_wrapper .drop-down .notify_item .read a{
    color: #bbb;
    }


.notification_wrapper .drop-down .notify_item .unread{
    width: 70%;
    }

.notification_wrapper .drop-down .notify_item .unread a{
    color: #605dff;
    }

.notification_wrapper .drop-down .notify_item .unread .notify_time{
    color:  #c5c5a6;
    font-size: 12px;
    }


/* notification speech bubble */

.notification_wrapper .drop-down:before{
    content:                 "";
    position:          absolute;
    top:                  -30px;
    left:                   50%;
    transform: translateX(-50%);
    border:          15px solid;
    border-color: transparent transparent #fafafa transparent
    }

/* notification button */

.notification_wrapper .drop-down button{
    padding:          10px;
    width:             49%;
    box-sizing: border-box;
    border:           none;
    font-size:        16px;
    font-weight:      bold;
    margin-top:       20px;
    cursor:        pointer;
    }

.notification_wrapper .drop-down button a{
    text-decoration: none;
    color:           #fff;
    }

.notification_wrapper .drop-down button:nth-child(1){
    background: #F17816;
    }

.notification_wrapper .drop-down button:nth-child(2){
    background: #16c4fd;
    }

.notification_wrapper .drop-down button:hover{
    background: #605dff;
    }

.notification_wrapper .drop-down button .fas{
    font-size:     20px;
    font-weight:   bold;
    }

/* notification message */

.notification_wrapper .drop-down h4{
    padding:              16px;
    text-align:         center;
    color:rgb(20, 23, 26);
    line-height:           1.7;
    letter-spacing:     0.05em;
    }



/* mobile nav */

.mobile-nav
{
    position: fixed ;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
}

.mobile-nav-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-nav-icon
{
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-nav-icon:hover
{
    color: var(--main-color);
}

.mobile-nav-icon:active
{
    color: var(--main-color);
}

.mobile-nav .live_notify_badge
{
    font-size: 10px;
}

.number{
    background:  #00acee;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute ;
    transform: translateX(67%) translateY(-150%);
     -webkit-transform: translateX(67%) translateY(-150%);
    z-index: 1;
}

/* global footer */

.global-footer{
    margin:     100px auto;
    }

/* ios button  reset */

.site-form-new input[type=submit],
.site-form input[type=submit] {
    -webkit-appearance: none;
     border-radius:        0;
    }

/* @media */

@media (max-width: 600px)
{
    .left
    {
        display: none ;
    }
    .right
    {
        display: none ;
    }
    .center
    {
        width: 100%;
        margin-top: 60px;
    }
    .mobile-nav
    {
        z-index: 1;
    }
    .user_profile_card
    {
        box-shadow: none ;
        width:100%;
    }
    .form-wrapper
    {
        box-shadow: none ;
    }
    .site-form
    {
        box-shadow:none;
    }
    .following-feed-wrapper
    {
        width: 100%;
    }
    .center-header
    {
        display: none ;
    }
    .about_box span
    {
        font-size:30px;
    }
}

@media (min-width: 600px)
{
    .mobil-nav-wrapper
    {
        display:none;
    }
    .mobile-nav
    {
        display:none;
    }
}
