@charset "UTF-8";

:root
{
    --main-color: #00acee;
    --hover-color:rgba(29, 161, 242, 0.07);
}

*, *::before, *::after
{
     box-sizing: border-box;
}

*
{
    padding: 0;
    margin: 0;
}

html {
  scroll-behavior:smooth;
}

body
{
    font-family: Arial, "ヒラギノ角ゴ Pro W3",
                        "Hiragino Kaku Gothic Pro",
                         Osaka,
                         メイリオ,
                         Meiryo,
                         "ＭＳ Ｐゴシック",
                          "MS PGothic",
                          sans-serif;
}

ul
{
    list-style: none ;
}

a
{
    text-decoration: none ;
}

.container
{
    max-width: 1000px;
    margin: auto ;
}

.global-tag
{
    text-align:center ;
    margin-bottom: 20px;
}


/* mobil header */

.mobil-nav-wrapper
{
    position: fixed ;
    top: 0;
    width: 100%;
    height: 50px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
    z-index: 2;
    justify-content: space-between ;
    transition: transform 0.4s;
}

/* scroll event */

.scroll-down
{
    transform: translate3d(0, -100%, 0);
    filter: opacity(30%) ;
}

.scroll-up
{
    transform: none;
}

/* end scroll event */

.mobile-nav-top-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    /*flex-grow: 1;*/
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-profile-container img
{
    border-radius:50%;
    width:30px;
    height:30px;
}

.mobile-profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.mobile-profile-container img
{
    border-radius:50%;
    width:30px;
    height:30px;
}

.mobile-profile-container i
{
    color: #333;
    font-size: 30px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:30px;
    width:30px;
    border-radius:50%;
    z-index:1;
    position:relative;
    background:var(--main-color);
}

.mobile-logo_1
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(30%);
    -webkit-transform: translateX(30%);
    top: -13px;

}

.mobile-logo_2
{
    position:absolute;
    font-size:26px;
    color: #fff;
    transform: translateX(110%) ;
    -webkit-transform: translateX(110%);
    top: 1px;
}



.mobile-nav-top-link button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /*width: 28px;
    height: 28px;
    border: 1px solid var(--main-color);
    border-radius: 50%;*/
}

.mobile-nav-top-link button i
{
    cursor: pointer;
    font-size: 16px;
    color: var(--main-color);
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}


/* mobile nov  search */

.mobile-nav-top-link button
{
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.mobile-nav-top-search
{
    background: rgba(234, 242, 245, 0.62);
    width: 100%;
    height: 30px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 15px;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.mobile-search input[type="text"]
{
    padding: 0;
    border: none;
    border-radius: 0;
    outline: none;
    background: none;
    height: 100%;
    width: 100%;
    vertical-align: middle ;
    line-height: normal ;
}


.mobile-search-input{
    width: 100%;
    height: 100%;
    position: relative ;
    font-size: 16px;
    margin-left: 3px;
}

.mobile-search i
{
    font-size: 18px;
    margin-left: 10px;
    vertical-align: middle ;
    color: gray ;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-search.active
{
    background: #fff;
    border: 1px solid var(--main-color);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 100%;
    height: 100%;
}

.mobile-search.active i
{
    color: var(--main-color);
}



/* left style */

.left
{
    /* background: beige ;*/
    float: left;
    width: 10%;
    height:1100vh;
}

.left ul
{
    position: -webkit-sticky ;
    position: sticky ;
    top: 0;
}

.wrapper_circle
{
    font-family: 'Baloo Paaji 2', cursive;
    height:70px;
    width:70px;
    border-radius:50%;
    z-index:1;
    border:double 10px #fff;
    position:relative;
    background:#555d66;
    }

.logo_1
{
    position:absolute;
    top:-6px;
    left:10px;
    font-size:30px;
    color: #fff;
}

.logo_2
{
    position:absolute;
    top:10px;
    left:24px;
    font-size:30px;
    color: #fff;
}

.logo:hover
{
    background-color: unset!important;
}

.left ul li
{
    font-size: 24px;
    padding: 3px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.left ul li a
{
    color: var(--main-color);
}

.icon-circle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.icon-circle:hover
{
    background: var(--hover-color);
    border-radius: 50px;
}

.icon-container:hover
{
    color: rgb(29, 161, 242) ;
}

.create-btn-container
{
   text-align: center ;
   margin-top: 20px;
}

.create-btn
{
    background: #1da1f2;
    color: #fff;
    font-size: 23px;
    border: none ;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}


.create-btn:hover
{
    cursor: pointer ;
    background: rgba(0, 148, 255, 0.97);
}

.profile-pic
{
    border-radius:50%;
    width:40px;
    height:40px;
}

.profile-link
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
    color: rgb(101,119,134);
}

.icon-link
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.icon-container
{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    color:rgb(101,119,134);
    border-radius: 50%;
    position:relative;
}


.fa-ellipsis-h
{
    border-radius:50%;
    border: 2px solid rgb(20, 23, 26);
    width:30px;
    height:30px;
    display: flex ;
    justify-content: center ;
    align-items: center
}

.fa-ellipsis-h:hover
{
   border: 2px solid rgb(29, 161, 242) ;
}

.number{
    background:  #00acee;
    display: flex ;
    justify-content: center ;
    align-items: center ;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid #fff;
    position: absolute ;
    transform: translateX(67%) translateY(-150%);
     -webkit-transform: translateX(67%) translateY(-150%);
    z-index: 1;
}

.live_notify_badge
{
    font-size: 12px;
    color: #fff;
}

.user-checking
{
    margin-left: 10px;
}

/* center style */

.center
{
    width: 60%;
    float: left ;
    border-left: 1px solid #C0C0C0;
    border-right: 1px solid #C0C0C0;
    border-bottom: 1px solid #C0C0C0;
}

.center-header
{
    display: flex ;
    padding-top: 10px;
}

.header-return
{
    padding: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: relative ;
}

.header-return a
{
    color: var(--main-color);
}

.header-return i
{
    position: absolute ;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%) ;
    -webkit-transform: translateY(-50%) translateX(-50%);
}

.header-return:hover
{
    background:var(--hover-color);
}

.header-name
{
    line-height: 30px;
    margin-left: 20px;
}

.header-name span
{
    font-size: 16px;
    color: gray ;
}

.profile-bg
{
    text-align: center ;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

.background-img
{
    width: auto ;
    height: 200px;
}

.background-img img
{
    width: 100%;
    height: 200px;
    object-fit: cover ;
}


/*.background-img img
{
    width: auto ;
    height: 200px;
}*/

.profile-description
{
    position: relative ;
    bottom: 80px;
    padding-left: 10px;
    z-index: 1;
    border-bottom: 1px solid #C0C0C0;
}

.profile-description img
{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: #eee;
}



.edit
{
    background-color: #fff;
    border-radius: 28px;
    border: 1px solid #0084b4;
    display: inline-block;
    cursor: pointer;
    color: #08a2e9;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 800;
    text-decoration: none;
    padding: 10px;
    margin-top: 90px;
    margin-right: 10px;
    position: absolute ;
    right: 2px;
}

.edit:hover
{
  background-color: #e8f5fd;
}

.profile-name
{
    margin: 10px auto ;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.2;
}

.profile-bio
{
    font-size: 15px;
    letter-spacing: 0.2;
    padding: 2px 0 10px 0;
}

.fa-link
{
  color: gray  ;
}

.profile-website a
{
    color: var( --main-color)
}

.info-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    padding-top: 20px;
    padding-right: 10px;
}

.info-wrapper span
{
    font-size: 15px;
    color: gray ;
}

.info-wrapper strong
{
    color: #333;
}

.following-info a:hover
{
    text-decoration: underline;
    color: gray;
}

.followers-info a:hover
{
    text-decoration: underline;
    color:gray;
}

/* articles */

.article-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    vertical-align: middle;
    margin: 10px  10px 10px  10px ;
}

.following-feed-wrapper
{
    border-bottom: 1px solid #C0C0C0;
}

.following-feed-wrapper:hover
{
    background: rgb(245, 248, 250) ;
}

.articles-item img
{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.articles-item small
{
    color: gray ;
}

.following-articles
{
    margin: 2px;
}

.articles-thumb
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.articles-thumb img
{
    width: 100%;
    height: auto;
}

.articles-description
{
    margin: 14px;
}

.articles-description a
{
   color: #333 ;
}

.articles-description p
{
    padding-top: 10px;
}

.articles-description small
{
    color: gray ;
    font-size: 12px
}

.articles-icon
{
    margin:10px;
}

.icon-items
{
    padding-right: 2px;
    color: gray ;
}

.icon-items a
{
    color: gray ;
}

.icon-items .fa-edit
{
    margin-left: 4px;
}

.icon-items .fa-edit:hover
{
    color: rgb(23, 191, 99);
}

.liked .liked_heart
{
    color:rgb(253, 29, 29);
}

.liked span
{
    color:rgb(253, 29, 29);
}

.articles-icon ul li
{
    margin: 0;
}

.articles-icon-wrapper
{
    display: flex ;
    width: 80px;
    height: 50px;
    justify-content: left;
    align-items: center ;
    margin: 0;
    padding: 0;
    margin-right: -20px;
}

.articles-hover
{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
    vertical-align: middle ;
    line-height: 10px;
    padding: 7px;
    cursor: pointer;
}

.articles-hover:hover
{
    background: var(--hover-color);
}

.heart-circle:hover
{
    background: rgba(255, 71, 231, 0.12)
}

.edit-circle:hover
{
    background: rgba(24, 218, 28, 0.14);
}

.articles-sum
{
    display: inline-block;
    justify-content: center ;
    align-items: center ;
    margin-left: 3px;
    font-size: 14px;
}


/* right style */

.right
{
    /*background: ghostwhite;*/
    width: 30%;
    height: 1100vh;
    display: flex ;
    flex-direction: column ;
    float:right;
}

.right-wrapper
{
    position: -webkit-sticky ;
    position: sticky ;
    top: 0;
}


/* おすすめアーティクル */

.favorite-articles
{
    background: rgba(234, 242, 245, 0.62);;
    width: 90%;
    margin-top: 70px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
}

.favorite-title
{
    padding: 10px ;
    border-bottom: 1px solid #C0C0C0;
}

.favorite-wrapper
{
    display: flex ;
    justify-content: space-between ;
    border-bottom: 1px solid #C0C0C0;
    padding-top: 10px;
    padding-bottom: 10px;
}

.favorite-wrapper:hover
{
    background: rgb(225, 232, 237) ;
}

.favorite-category
{
    color: gray ;
    line-height: 2;
}

.favorite-items
{
    display: flex ;
    flex-direction: column ;
    justify-content: center ;
}

.favorite-items a
{
    color:#333;
}

.favorite-items span
{
   margin-left: 10px;
   font-size: 18px;
   font-weight: 600;
}

.favorite-thumb
{
    position: relative ;
    right: 10px;
}

.favorite-thumb img
{
    height: 50px;
    border-radius: 10px;
}

.favorite-info
{
    padding: 14px;
}

.favorite-info:hover
{
    background: rgb(225, 232, 237) ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.favorite-info h4
{
    color: #00acee ;
    font-weight: 200;
}

/* おすすめユーザー */

.users
{
    background: rgba(234, 242, 245, 0.62);;
    width: 90%;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
    border-radius: 20px;
}

.users-title
{
    padding: 10px ;
    border-bottom: 1px solid #C0C0C0;
}

.users-wrapper ul li
{
    text-decoration: none ;
    display: inline-block ;
    vertical-align: middle;
    margin: 10px 10px 10px 10px ;
}

.users-wrapper
{
    border-bottom: 1px solid #C0C0C0;
}

.users-wrapper:last-child
{
    border-bottom: none ;
}

.users-wrapper:hover
{
    background: rgb(225, 232, 237) ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.users-box img
{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    border:2px solid #fff;
}

.users-items span:hover
{
    text-decoration: underline;
}

.web-info, .web-info a
{
    text-align: center ;
    color: gray ;
    margin-top: 10px;
}

.web-info span
{
    font-size: 15px;
    padding-right: 10px;
}

.web-info span:hover
{
    text-decoration: underline;
}

.copyright p
{
    font-size: 14px;
    margin-top: 6px;
}


/* mobile nav */

.mobile-nav
{
    position: fixed ;
    bottom: 0;
    width: 100%;
    height: 55px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    background: #fff;
    display: flex ;
    overflow-x: auto ;
}

.mobile-nav-link
{
    display: flex ;
    flex-direction: column ;
    align-items: center ;
    justify-content: center ;
    flex-grow: 1;
    min-width: 50px;
    overflow: hidden ;
    white-space: nowrap ;
    color: gray;
    text-decoration: none ;
    -webkit-tap-highlight-color:transparent ;
    transition: background-color 0.1s ease-in-out ;
}

.mobile-nav-icon
{
    font-size: 26px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 1px #fff;
}

.mobile-nav-icon:hover
{
    color: var(--main-color);
}

.mobile-nav-icon:active
{
    color: var(--main-color);
}

.mobile-nav .live_notify_badge
{
    font-size: 10px;
}


/* pagination */

ul{
    padding:                  0;
    list-style-type:       none;
    }

.pager{
    position:          relative;
    top:                   30px;
    padding:               30px;
    }

.pager .pagination {
  text-align:            center;
    }

.pager .pagination li {
  display:               inline;
  margin:                 0 2px;
  padding:                    0;
  display:         inline-block;
  width:                   50px;
  height:                  50px;
  text-align:            center;
  position:            relative;
  border-radius:           50px;
  border:        1px solid #fff;
    }

.pager .pagination li.pre,
.pager .pagination li.next{
  background:            #a3e4e4;
  color:                    #fff;
    }

.pager .pagination li a{
  vertical-align:            middle;
  position:                absolute;
  top:                            0;
  left:                           0;
  width:                       100%;
  height:                      100%;
  text-align:                center;
  display:                    table;
  text-decoration:             none;
  -webkit-transition: all 0.3s ease;
  -moz-transition:    all 0.3s ease;
  -o-transition:      all 0.3s ease;
  transition:        all  0.3s ease;
    }

.pager .pagination li.pre a,
.pager .pagination li.next a{
  color:                       #fff;
    }

.pager .pagination li a span{
  display:               table-cell;
  vertical-align:            middle;
    }

.pagination li a
{
    color: #333;
}

.pager .pagination li a:hover,
.pager .pagination li a.active{
  color:                                #fff;
  background:                        #dde68e;
  border-radius:                        10px;
  border-radius:                        50px;
  animation:         animScale 0.4s ease-out;
  transform-origin:                  50% 50%;
  -webkit-animation: animScale 0.4s ease-out;
  -webkit-transform-origin:          50% 50%;
  -moz-animation: animScale    0.4s ease-out;
  -moz-transform-origin:             50% 50%;
    }

@keyframes animScale {
  0% { transform: scale(0.8, 0.8); }
  40% { transform: scale(1.2, 1.2); }
  60% { transform: scale(1, 1); }
  80% { transform: scale(1.1, 1.1); }
  100% { transform: scale(1, 1); }
    }

@-webkit-keyframes animScale {
  0% { -webkit-transform: scale(0.8, 0.8); }
  40% { -webkit-transform: scale(1.2, 1.2); }
  60% { -webkit-transform: scale(1, 1); }
  80% { -webkit-transform: scale(1.1, 1.1); }
  100% { -webkit-transform: scale(1, 1); }
    }

@-moz-keyframes animScale {
  0% { -moz-transform: scale(0.8, 0.8); }
  40% { -moz-transform: scale(1.2, 1.2); }
  60% { -moz-transform: scale(1, 1); }
  80% { -moz-transform: scale(1.1, 1.1); }
  100% { -moz-transform: scale(1, 1); }
    }


@media only screen and (max-width: 767px){
  .pager .pagination li{
    display:                     none;
  }

  .pager .pagination li.pre,
  .pager .pagination li.next{
    display:            inline-block;
    width:                      42px;
    height:                     42px;
    text-align:               center;
    margin:                   0 auto;
  }

  .pager .pagination li.pre a,
  .pager .pagination li.next a{
    width:                      100%;
    text-align:               center;
  }
}

/* global footer */

.global-footer{
    margin:     100px auto;
    }

/* @media */

@media (max-width: 600px)
{
    .left
    {
        display: none ;
    }
    .right
    {
        display: none ;
    }
    .center
    {
        width: 100%;
        margin-top: 60px;
    }
    .mobile-nav
    {
        z-index: 1;
    }
}

@media (min-width: 600px)
{
    .mobil-nav-wrapper
    {
        display:none;
    }
    .mobile-nav
    {
        display:none;
    }
}

