*
{
    padding: 0;
    margin: 0;
}

body
{
    font-family: 'Baloo Paaji 2', cursive;
}

ul
{
    list-style: none ;
}

a
{
    text-decoration: none ;
}

.container
{
    width: 90%;
    margin: auto ;
}

/* left style */

.wrapper_circle
{
    height:50px;
    width:50px;
    border-radius:50%;
    z-index:1;
    border:double 10px #fff;
    position:relative;
    background:#555d66;
    }

.logo_1
{
    position:absolute;
    top:-6px;
    left:10px;
    font-size:30px;
    color: #fff;
}

.logo_2
{
    position:absolute;
    top:10px;
    left:24px;
    font-size:30px;
    color: #fff;
}

.logo:hover
{
    background-color: unset!important;
}


.left
{
    float: left;
}

.left ul li
{
    font-size: 24px;
    padding: 3px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.left ul li a
{
    color:#14171A;
}

.icon-circle
{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.icon-circle:hover
{
    background: rgba(29, 161, 242, 0.07);
    border-radius: 50px
}

.icon-container:hover
{
    color: rgb(29, 161, 242) ;
}

.create-btn-container
{
    display: inline-block ;
    margin-top: 60px;
    margin-left: 6px;
}

.create-btn
{
    background: #1da1f2;
    color: #fff;
    font-size: 23px;
    border: none ;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}


.create-btn:hover
{
    cursor: pointer ;
    background: rgba(0, 148, 255, 0.97);
}

.profile-pic
{
    border-radius:50%;
    width:40px;
    height:40px;
}

.profile-link
{
    display: flex ;
    justify-content: center ;
    justify-items: center ;
}

.profile-container
{
    display: flex ;
    justify-content: center;
    align-items: center ;
    color: rgb(101,119,134)
}

.icon-link
{
    display: flex ;
    justify-content: center;
    align-items: center ;
}

.icon-container
{
    display: flex ;
    justify-content: center ;
    align-items: center ;
    color:rgb(101,119,134);
    border-radius: 50%;
}


.fa-ellipsis-h
{
    border-radius:50%;
    border: 2px solid #14171A;
    width:30px;
    height:30px;
    display: flex ;
    justify-content: center ;
    align-items: center
}

.fa-ellipsis-h:hover
{
   border: 2px solid rgb(29, 161, 242) ;
}