{% extends 'base.html' %}
{% block headerName %}ブックマーク{% endblock %}
{% block title %}Book Mark{% endblock %}
{% block mobileCenter %}<p class="mobile-center-name">ブックマーク</p>{% endblock %}
{% block headerA %}
<a href="{% url 'home' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock %}
{% block content %}
<div class="swiper">

    <div class="swiper-container">

        <div class="swiper-wrapper">
            {% for book_mark in my_book_mark %}
            <div class="swiper-slide">

                <div class="swiper-card">
                    <div class="sliderText">
                        <h3>{{ book_mark.title | truncatechars_html:20 }}</h3>
                    </div>
                    <div class="sliderUsername">
                        <p>{{ book_mark.author }}</p>
                    </div>
                    <div class="sliderContent">
                        <p>{{ book_mark.snippet }}</p>
                        <a href="{% url 'articles:detail' detail_id=book_mark.id %}">Favorite</a>
                    </div>
                </div>

            </div>
            {% empty %}
            <h4>No Book Marks</h4>
            {% endfor %}
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script src="/static/js/swiper.js"></script>
{% endblock %}