{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150304073-1"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'UA-150304073-1');
        </script>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>{{ article.title }}</title>
        <meta name="description" content="{% block description %}Local Thingsは、大分県の地域の「何気ないもの」を紹介しています。
         ローカルフードや、ローカルスポット、ナイスなおススメ情報など。
         大分のLocalが好きな人、興味がある人とで地域を盛り上げていく地域密着型国産SNS{% endblock %}"/>
        <!--  favicon  -->
         <link rel="icon" href="{% static 'favicon.ico' %}">
         <!-- PWA -->
         <meta name="apple-mobile-web-app-capable" content="yes">
         <meta name="apple-mobile-web-app-status-bar-style" content="black">
         <meta name="apple-mobile-web-app-title" content="Local Things">
         <link href="/static/apple-touch-icon.png" sizes="180x180" rel="apple-touch-icon">
         <meta name="theme-color" content="white">
         <link rel="manifest" href="{% static 'manifest.json' %}">
        <!--  Google Search Console   -->
        <meta name="google-site-verification" content="pzDQnHiXAF6b76qLuGcsnt2Fg9p3PPVooCxmn4QJsKw" />
        <!--  twitter card   -->
         <meta name="twitter:card" content="summary_large_image" />
         <meta name="twitter:site" content="@{{ article.author.username }}" />
         <meta property="og:url" content="{{ request.build_absolute_uri }}" />
         <meta property="og:title" content="{{ article.title }}" />
         <meta property="og:description" content="{{ article.snippet }}" />
         <meta property="og:image" content="{{ article.thumb.url }}" />
        <!--  Font Awesome      -->
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <!--  Google Fonts      -->
        <link href="https://fonts.googleapis.com/css2?family=Baloo+Paaji+2&display=swap" rel="stylesheet">
        <!--  Load CSS  -->
        <link rel="stylesheet" href="{% static 'css/detail.css' %}">
        <!--  Load jquery  -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>
        <header id="nav" class="mobil-nav-wrapper">
            <div class="mobile-nav-top-link">
            {% if user.is_authenticated %}
            <a href="{% url 'articles:users_detail' user.pk %}">
                <div class="mobile-profile-container">
                    <img src="{{ user.profile.image.url }}" class="profile-pic" alt="{{ user.username }} Avatar" loading="lazy">
                </div>
            </a>
            {% else %}
                <div class="mobile-profile-container">
                    <i class="far fa-user-circle"></i>
                </div>
            {% endif %}
            </div>

            <div class="mobile-nav-top-link">
                <div class="mobile-nav-top-search">
                   <form id="search" class="mobile-search" method="GET" action="{% url 'articles:list' %}">
                        <i class="fas fa-search"></i>
                        <input class="mobile-search-input" type="text" name="q" value="{{ request.GET.q }}" required/>
                        <label for="search"></label>
                    </form>
                </div>
            </div>

            <div class="mobile-nav-top-link">
            <a href="{% url 'home' %}">
                <div class="mobile-wrapper_circle">
                    <h1 class="mobile-logo_1">L</h1><h1 class="mobile-logo_2">T</h1>
                </div>
            </a>
            </div>

        </header>
        <div class="container">

            <div class="left">
                {% include 'articles/snippet/left-nav.html' %}
            </div>

            <div class="center" id="main">
                <div class="center-header">
                    <div class="header-return">
                        <a href="{% url 'home' %}">
                            <i class="fas fa-arrow-left"></i>
                        </a>
                    </div>
                    <div class="header-name">
                       <h3>ホームに戻る</h3>
                    </div>
                </div>

                <div class="article-wrapper">

                    <article class="following-feed">

                        <div class="following-feed-wrapper">
                            <ul class="following-articles">
                                <li class="articles-item">
                                    <a href="{% url 'articles:user-posts' article.author.username %}">
                                        <img src="{{ article.author.profile.image.url }}" alt="{{ article.author.username }} Avatar" loading="lazy">
                                    </a>
                                </li>
                                <li class="articles-item">
                                    <p>{{ article.author.username }}</p>
                                </li>

                            </ul>
                            <div class="articles-thumb">
                                {% if article.thumb != 'No-image.png' %}
                                <a href="{% url 'articles:detail' detail_id=article.id %}">
                                    <img src="{{ article.thumb.url }}" alt="{{ article.title }}" loading="lazy"/>
                                </a>
                                {% endif %}
                            </div>

                            <div class="articles-description">
                                <h4>{{  article.title  }}</h4>
                                <p>{{ article.body | urlize | linebreaksbr | safe }}</p>
                            </div>

                            <div class="articles-time">
                                <p>{{ article.date }}</p>
                            </div>

                            {% include 'articles/snippet/icons_text.html' %}
                            {% include 'articles/snippet/icon-box.html' %}

                        </div>
                    </article>

                </div>
                {% include 'articles/snippet/comment.html' %}
            </div>


            <div class="right">
                <div class="right-wrapper">

                    <div class="right-search">
                        <form id="right-search" class="form-search" method="GET" action="{% url 'articles:list' %}">
                            <i class="fas fa-search"></i>
                            <input class="search-input" type="text" name="q"
                                   placeholder=" キーワード検索" value="{{ request.GET.q }}" required/>
                        </form>
                    </div>

                    <div class="favorite-articles">
                        <div class="favorite-title">
                            <h3>おすすめアーティクル</h3>
                        </div>
                        {% for favorite in order_like_articles %}
                        <div class="favorite-wrapper">
                            <div class="favorite-items">
                                {% if favorite.category != None %}
                                <span class="favorite-category">
                                    {{ favorite.category }}
                                </span>
                                {% endif %}
                                <a href="{% url 'articles:detail' detail_id=favorite.id %}">
                                    <span>{{ favorite.title | truncatechars_html:10 }}</span>
                                </a>
                            </div>
                            <div class="favorite-thumb">
                                <img src="{{ favorite.thumb.url }}" alt="{{ favorite.title }}" loading="lazy"/>
                            </div>
                        </div>
                        {% endfor %}
                        <div class="favorite-info">
                            <a href="{% url 'articles:ordered_by_likes' %}">
                                <h4>さらに見る</h4>
                            </a>
                        </div>
                    </div>
                    {% if user.is_authenticated %}
                    <div class="users">
                        <div class="users-title">
                            <h3>おすすめユーザー</h3>
                        </div>
                        {% for user in users %}
                        {% if request.user != user.user %}
                        <div class="users-wrapper">
                            <ul class="users-box">
                                <li class="users-items">
                                    <a href="{% url 'accounts:profile_detail' user.user %}">
                                        <img src="{{ user.user.profile.image.url }}" alt="{{ user.user }} Avatar" loading="lazy">
                                    </a>
                                </li>
                                <li class="users-items">
                                    <span>{{ user.user }}</span>
                                </li>
                            </ul>
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    <div class="web-info">
                        <a href="{% url 'about' %}">
                            <span>利用規約</span>
                        </a>
                        <a href="{% url 'privacy-policy' %}">
                            <span>プライバシーポリシー</span>
                        </a>
                        <div class="copyright">
                            <P>
                                <i class="far fa-copyright">2020 Local Things</i>
                            </P>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include 'articles/snippet/mobile-nav-footer.html' %}

        <script src="/static/js/scroll.js"></script>
        <script src="/static/js/search-box.js"></script>
        <script src="/static/js/mobile-hover.js"></script>
        <script src="/static/js/mobile-search-box.js"></script>
        <script>
        $('#like').click(function(){
            $.ajax({
                   type: "POST",
                   url: "{% url 'articles:like_button' article.pk %}",
                   data: {'title': $(this).attr('name'),'csrfmiddlewaretoken':'{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                        alert(response.message);
                        alert('いいね数トータルは' + response.likes_count + ' いいねです。');
                   },
                   error: function(data) {
                        alert("Please Login or Signup");
                }
            });
        })
        </script>
        <script>
        $('#book_mark').click(function(){
            $.ajax({
                   type: "POST",
                   url: "{% url 'articles:book_mark' article.pk %}",
                   data: {'title': $(this).attr('name'),'csrfmiddlewaretoken':'{{ csrf_token }}'},
                   dataType: "json",
                   success: function(response) {
                        alert(response.message);
                   },
                   error: function(data) {
                        alert("Please Login");
                }
            });
        })
        </script>
        <script>
         $(document).on('submit', '#comment_form', function(e){
            e.preventDefault();
            $.ajax({
                   type: "POST",
                   url: "{% url 'articles:comment' article.pk %}",
                   data: $("#comment_form").serializeArray(),
                   success: function(data) {
                            $("#comment_form" + " textarea ").val(' ');
                            $("#comment_form" + " input ").val(' ');
                            alert('Thank you for your message. it has been sent.' );
                   },
                   error: function(data) {
                        alert("Error!!");
                }
            });
         })
        </script>
        <script src="/static/js/app.js"></script>
        <script src="/static/js/liked.js"></script>
    </body>
</html>