<!DOCTYPE html>
{% extends 'base.html' %}
{% block headerName %}ブックマーク{% endblock %}
{% block title %}Book Mark{% endblock %}
{% block mobileCenter %}<p class="mobile-center-name">ブックマーク</p>{% endblock %}
{% block headerA %}
<a href="{% url 'home' %}">
    <i class="fas fa-arrow-left"></i>
</a>
{% endblock %}
{% block content %}
<div class="bookmark-grid">
  {% for book_mark in my_book_mark %}
    <div class="bookmark-card">
      <div class="bookmark-username">
        <p>{{ book_mark.author }}</p>
      </div>
      <div class="bookmark-snippet">
        <p>{{ book_mark.snippet }}</p>
        <a href="{% url 'articles:detail' pk=book_mark.pk %}">Favorite</a>
      </div>
    </div>
  {% empty %}
    <h4>No Book Marks</h4>
  {% endfor %}
</div>
{% endblock %}
