{% extends 'base_layout.html' %}

{% block content %}

<div class="title" id="clouds">
    <div class="cloud top"></div>
    <div class="cloud mid_1"></div>
    <div class="cloud mid_2"></div>
    <div class="cloud mid_3"></div>
    <div class="cloud bottom"></div>
    <div class="bird">..</div>
    <div class="balloon-back">
        <div class="balloon">
            <p><a href="{% url 'articles:gallery' %}">
                  nice <i class="fas fa-search fa-flip-horizontal faa-shake animated-hover"></i></a>
            </p>
        </div>
    </div>

    <h1 id="list_title"><span class="a">Oita Loc</span><span class="b">al things</span></h1>
      <div class="sub_title">
         住んでいる人にとって「何気ないもの」...<br>
          「何気ないもの」は誰かにとっては「何気なくないもの」かもしれない。<br>
            何気なくないものに恋して、<br>
            何気ないものに逢いにゆく。
      </div>

    <a href="{% url 'articles:ordered_by_likes' %}">
        <button class="ordered" type="submit">
                <i class="fas fa-chart-line"></i>
        </button>
    </a>
</div>

<div class="articles">
    {% for article in articles %}
    <div class="article">

        <p class="author"><a href="{% url 'articles:user-posts' article.author.username %}" style="color:#0f121f">
        {{ article.author.username }}
        </a>
        </p>
        <p><small>{{ article.date | date:"y/n/j"}}</small></p>

        <h3><a href="{% url 'articles:detail' detail_id=article.id %}">
            {{ article.title }}
        </a>
        </h3>
        <p>{{ article.snippet }}<small>Read more</small></p>
        <div class="in-pict">
            <a href="{% url 'articles:detail' detail_id=article.id %}">
                <img src="{{ article.thumb.url }}" loading="lazy" alt="{{ article.title }}"/>
            </a>
        </div>
        <div class="article_list_user_img">
            <a href="{% url 'accounts:profile_detail' article.author.profile.user.username %}">
            <img src="{{ article.author.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
            </a>
        </div>

<!--            <hr class="hr_list_border">-->
        <div class="icons">
            <div class="list_article_icon">
                <p class="add_comments">
                    <i class="far fa-comment-alt faa-tada animated-hover"></i>
                    {% if article.comments.count %}
                    {{ article.comments.count }}
                    {% endif %}
                </p>
            </div>
             <div class="list_article_icon">
                 <p class="like_hearts">
                    <i class="far fa-heart faa-pulse animated-hover"></i>
                    {% if article.total_likes %}
                    {{ article.total_likes }}
                    {% endif %}
                </p>
             </div>
            <div class="list_article_icon">
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail'  detail_id=article.id %}"
                        target="_blank" rel="nofollow" class="fb">
                        <i class="fab fa-facebook-f faa-shake animated-hover"></i>
                </a>
            </div>
            <div class="list_article_icon">
                <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail' detail_id=article.id %}&text={{ article.title }}"
                        target="_blank" rel="nofollow" class="tw">
                    <i class="fab fa-twitter faa-wrench animated-hover"></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

    <div class="pager">
        <ul class="pagination">
        {% if articles.has_previous %}
            <li class="pre"><a class="active" href="?page=1"><span>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </a></li>
            <li class="pre"><a class="active" href="?page={{ articles.previous_page_number }}"><span>
                <i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </a></li>
        {% endif %}

        {% for num in articles.paginator.page_range %}
            {% if articles.number == num %}
                <li><a class="active" href="#"><span>{{ num }}</span></a></li>
            {% elif num > articles.number|add:'-3' and num < articles.number|add:'3' %}
            <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
            {% endif %}
        {% endfor %}

        {% if articles.has_next %}
            <li class="next"><a href="?page={{ articles.next_page_number }}"><span>
                <i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a></li>
            <li class="next"><a href="?page={{ articles.paginator.num_pages }}"><span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </a></li>
        {% endif %}
        </ul>
    </div>

<div class="menu_btn" onclick="toggleSideBar()">
    <span></span>
    <span></span>
</div>

<nav class="sub_nav" id="fixedNav">
    <a href="{% url 'home' %}" class="logo-menu">
        Local Things
    </a>
    <ui class="sub_ui">
        {% if user.is_authenticated %}
        <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                {% csrf_token %}
            <button type="submit">Logout</button>
            </form>
        </li>
        <li><a href="{% url 'articles:users_detail' user.pk %}">
            <span>{{ request.user }}</span>
            </a>
        </li>
        <li><a href="{% url 'articles:create' %}">
            <span>New Articles</span>
            </a>
        </li>
        <li><a href="{% url 'accounts:user_following' %}">
            <span>Following Feed</span>
            </a>
        </li>
        {% else %}
        <li><a href="{% url 'accounts:login' %}">Login</a></li>
        <li><a href="{% url 'accounts:signup' %}">Signup</a></li>
        {% endif %}
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'privacy-policy' %}">privacy policy</a></li>
        <li><a href="{% url 'accounts:contact' %}">contact</a></li>
        <li><a href="{% url 'articles:gallery' %}">gallery</a></li>
        <li><a href="{% url 'articles:ordered_by_likes' %}">ordered by likes</a></li>
    </ui>
</nav>

<script src="/static/menu_btn.js"></script>
{% endblock %}
