{% extends 'base_layout.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="create-article">
    <h2>Create an Awesome New Article</h2>
    <form class="site-form" action="{% url 'articles:create' %}" method="post" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        <div class="form_group">
            <div class="column_1">
                <label>Title</label>
                <input type="text" name="title" maxlength="30" required="" id="id_title">
                <p class="helptext">{{ form.title.help_text }}</p>
                {% for error in form.title.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form_group">
            <div class="column_2">
                <label>Article</label>
                <textarea name="body" cols="40" rows="10" required="" id="id_body"></textarea>
                <p class="helptext">{{ form.body.help_text }}</p>
                {% for error in form.body.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="form_group">
            <label>Photo</label>
                <div class="column_3" id="input-group">
                    <input type="file" name="thumb" accept="image/*" id="01" capture="camera"/>
                    <label for="01" id="input-label">UpLoad
                        <i class="fas fa-camera-retro"></i>
                    </label>
                    {% for error in form.thumb.errors %}
                    <span class="helptext">{{ error }}</span>
                    {% endfor %}
                </div>
        </div>
        <div class="form_group">
            <label>Slug</label>
            <p><small>Automatic input</small></p>
            <div class="column_4">
                <input type="text" name="slug" maxlength="50" required="" id="id_slug" value="">
                <p class="helptext">{{ form.slug.help_text }}</p>
                {% for error in form.slug.errors %}
                <span>{{ error }}</span>
                {% endfor %}
            </div>
        </div>
        <div class="submit_btn">
            <input type="submit" value="Create"
                   onclick="return confirm('Are you sure with the content of this article?');">
        </div>

        <div class="p_container">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%;">
                0%
                </div>
            </div>
        </div>

    </form>
</div>
<script src="/static/slugify.js"></script>
<script src="/static/thumb.js"></script>
<script src="/static/progress.js"></script>
{% endblock %}