{% extends 'base_layout.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="article-detail">

    <div class="article-two">
        <img src="{{ article.thumb.url }}" loading="lazy" alt="{{ article.title }}"/>

        {% if request.user == article.author or request.user.is_superuser %}
        <div class="article_detail_delete">
            <form method="POST" action="{% url 'articles:delete' article.pk %}">{% csrf_token %}
                <button class="article_delete" type="submit"
                        onclick='return confirm("Are you sure you want to delete this article ？");'>
                    <i class="far fa-trash-alt"></i>
                </button>
            </form>
        </div>
        {% endif %}

        <div class="article_detail_author_container">
            <div class="article_detail_author_img">
                <a href="{% url 'accounts:profile_detail' article.author.username %}">
                    <img src="{{ article.author.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
                </a>
            </div>
            <div class="article_detail_author_username">
                <a href="{% url 'articles:user-posts' article.author.username %}" style="color:#0f121f">
                    <span>{{ article.author.username }}</span>
                </a>
            </div>
            <div class="article_detail_snippet">
                <p>{% block description %}{{ article.snippet }}{% endblock %}</p>
            </div>
        </div>

        <div class="article_detail_container">
            <p>
            {% if article.total_likes %}
            {{ article.total_likes }}
            {% endif %}
            <small>Likes</small>
            </p>
            <h2>{% block title %}{{ article.title }}{% endblock %}</h2>
            <p style="word-break: break-all;">{{ article.body | urlize | linebreaksbr | safe }}</p>
            <p><small>{{ article.date | date:"y/n/j" }}</small></p>
        </div>
    </div>

    <div class="like_box">
        <button type="button" class="btn-like" id="like" name="{{ article.slug }}">
        <i class="fa fa-heart"></i>
        <span>Like</span>
        </button>
    </div>

    <span class="comment_top">Comments
         <small><i class="far fa-comment-alt"></i></small>
        {% if article.comments.count %}
        <small>{{ article.comments.count }}</small>
        {% endif %}
    </span>

    <form method="POST" action="{% url 'articles:comment' article.pk %}">
        {% csrf_token %}
        <button type="submit" id="read">
            <span>Read</span>
            <i class="fas fa-glasses"></i>
        </button>
    </form>


    <div class="comment_wrapper">
        <ul class="comment-section">
            {% for comment in comments %}
            {% if article.author.id != comment.author.id %}
            <li class="comment user-comment">
                <div class="info">
                    <a href="{% url 'articles:user-posts' comment.author.username %}">{{ comment.author }}</a>
                    <span>{{ comment.created_date|timesince }}{{ sometime }} ago</span>
                </div>
                <a href="{% url 'accounts:profile_detail' comment.author.username %}" class="avatar">
                    <img src="{{ comment.author.profile.image.url }}" alt="Profile Avatar">
                </a>
                <p>{{ comment.text }}</p>
                {% if request.user.id == article.author.id or request.user.id == comment.author.id %}
                <div class="comment-delete-btn">
                <form method="POST" action="{% url 'articles:com_delete' comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="comment_delete"
                            onclick="return confirm('Do you want to delete this comment ?');">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </button>
                </form>
                </div>
                {% endif %}
            </li>
            {% endif %}

            {% if article.author.id == comment.author.id %}
            <li class="comment author-comment">
                <div class="info">
                    <a href="{% url 'articles:user-posts' article.author.username %}">{{ comment.author }}</a>
                    <span>{{ comment.created_date|timesince }}{{ sometime }} ago</span>
                </div>
                <a href="{% url 'accounts:profile_detail' comment.author.username %}" class="avatar">
                   <img src="{{ comment.author.profile.image.url }}" alt="Profile Author">
                </a>
                <p>{{ comment.text }}</p>
                {% if request.user.id == article.author.id or request.user.id == comment.author.id %}
                <div class="comment-delete-btn-2">
                <form method="POST" action="{% url 'articles:com_delete' comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="comment_delete_2"
                            onclick="return confirm('Do you want to delete this comment ?');">
                        <i class="far fa-trash-alt fa-lg"></i>
                    </button>
                </form>
                </div>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}

            <li class="write-new">
                <form method="POST" action="." id="comment_form">
                    {% csrf_token %}
                    {% for comment in comments|slice:":1" %}
                    <textarea name="text" cols="10" rows="6" required="" placeholder="Write your comment here" onclick="clickBtn2()"></textarea>
                    <div>
                        <img src="{{ current_user.profile.image.url }}" alt="Profile Avatar" >
                    </div>
                    {% endfor %}
                    <button type="submit" id="comment" name="{{ comment.pk }}">Comment <i class="far fa-paper-plane"></i></button>
                </form>
            </li>
        </ul>
    </div>
</div>
<script>
    $('#like').click(function(){
        $.ajax({
               type: "POST",
               url: "{% url 'articles:like_button' article.pk %}",
               data: {'slug': $(this).attr('name'),'csrfmiddlewaretoken':'{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                    alert(response.message);
                    alert('Article likes is now ' + response.likes_count + ' like');
               },
               error: function(data) {
                    alert("Please Login or Signup");
            }
        });
    })
</script>
<script>
    $(document).on('submit', '#comment_form', function(e){
                e.preventDefault();
        $.ajax({
               type: "POST",
               url: "{% url 'articles:comment' article.pk %}",
               data: $("#comment_form").serializeArray(),
               success: function(data) {
                        console.log('SUCCESS!!!');
                        $("#comment_form" + " textarea ").val(' ');
                        $("#comment_form" + " input ").val(' ');
                        alert('Thank you for your message. it has been sent.' );
               },
               error: function(data) {
                    alert("Error!!");
            }
        });
    })
</script>
<script src="/static/comment.js"></script>
<script src="/static/liked.js"></script>
{% endblock %}