{% extends 'base_layout.html' %}

{% block content %}
    <h1>Ordered by Likes</h1>
    <div class="articles">
    {% for article in articles %}
        <div class="article">

            <p class="author"><a href="{% url 'articles:user-posts' article.author.username %}" style="color:#0f121f">
            {{ article.author.username }}
            </a>
            </p>
            <p><small>{{ article.date | date:"y/n/j"}}</small></p>

            <h3><a href="{% url 'articles:detail' detail_id=article.id %}">
            {% block title %}{{ article.title }}{% endblock %}
            </a>
            </h3>
            <p>{% block description %}{{ article.snippet }}{% endblock %}<small>Read more</small></p>
            <div class="in-pict">
                <a href="{% url 'articles:detail' detail_id=article.id %}">
                    <img src="{{ article.thumb.url }}" loading="lazy"/>
                </a>
            </div>
            <div class="article_list_user_img">
                <a href="{% url 'articles:author-view' article.author.username %}">
                <img src="{{ article.author.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
                </a>
            </div>

<!--            <hr class="hr_list_border">-->
            <div class="icons">
                <div class="list_article_icon">
                    <p class="add_comments">
                        <i class="far fa-comment-alt"></i>
                        {% if article.comments.count %}
                        {{ article.comments.count }}
                        {% endif %}
                    </p>
                </div>
                 <div class="list_article_icon">
                     <p class="like_hearts">
                        <i class="far fa-heart"></i>
                        {% if article.total_likes %}
                        {{ article.total_likes }}
                        {% endif %}
                    </p>
                 </div>
                <div class="list_article_icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail'  detail_id=article.id %}"
                            target="_blank" rel="nofollow" class="fb">
                            <i class="fab fa-facebook-f faa-shake animated-hover"></i>
                    </a>
                </div>
                <div class="list_article_icon">
                    <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail' detail_id=article.id %}&text={{ article.title }}"
                            target="_blank" rel="nofollow" class="tw">
                        <i class="fab fa-twitter faa-wrench animated-hover"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>

    {% if is_paginated %}
        <div class="pager">
            <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="pre"><a class="active" href="?page=1"><span>
                    <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
                </a></li>
                <li class="pre"><a class="active" href="?page={{ page_obj.previous_page_number }}"><span>
                    <i class="fa fa-angle-left" aria-hidden="true"></i></span>
                </a></li>
            {% endif %}

            {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                    <li><a class="active" href="#"><span>{{ num }}</span></a></li>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li class="next"><a href="?page={{page_obj.next_page_number }}"><span>
                    <i class="fa fa-angle-right" aria-hidden="true"></i></span>
                </a></li>
                <li class="next"><a href="?page={{ page_obj.paginator.num_pages }}"><span>
                    <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
                </a></li>
            {% endif %}
            </ul>
        </div>
   {% endif %}
{% endblock %}