{% extends 'base_layout.html' %}
{% block title %}Edit an Article{% endblock %}
{% block content %}
<div class="site-form">
    <h1>Edit an Article</h1>
    <form  method="POST" enctype="multipart/form-data" id="form">
        {% csrf_token %}
        {{ form.as_p }}
        <small><p style="color:tomato">Slugには、Titleが日本語のみの場合「半角英数字入力で”-"（ハイフン）」を入力して下さい。</p></small>
        <div class="button-panel">
            <input type="submit" class="button-new-color" value="Update">
        </div>
    </form>
    <div class="form-footer">
        <div class="p_container">
            <div class="progress">
                <div id="progressBar" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                 style="width: 0%;">
                0%
                </div>
            </div>
        </div>
        <p><a href="{% url 'home' %}">Home</a></p>
    </div>
</div>
    <script src="/static/slugify.js"></script>
    <script src="/static/progress.js"></script>
{% endblock %}