{% extends 'base_layout.html' %}

{% block content %}
<div class="photo_container">
    <h1>Nice Things</h1>
    <div id="gallery" class="container-fluid">

        {% for article in articles %}
        <a href="{{ article.thumb.url }}" data-lightbox="article-images" data-title="{{ article.title }}">
            <img class="card img-responsive" src="{{ article.thumb.url }}" loading="lazy" alt="{{ article.title }}"/>
        </a>
        <div class="link_box">
                <a href="{% url 'articles:detail' detail_id=article.id %}">
                    <i class="fas fa-link icon-size"></i>
                </a>
        </div>
        {% endfor %}

    </div>
</div>
{% endblock %}