{% extends 'base_layout.html' %}

{% block content %}

<div class="user_detail_user_box">
    {% for profile in profiles %}

    <div class="user_detail_user_img">
        <img src="{{ profile.profile.image.url }}" alt="Avatar" class="img-cover"/>
    </div>
    <div class="user_detail_user_name">
        <h2>{{ profile.username }}'s profile info</h2>

        <div class="profile_bio">
            {% if profile.profile.bio != None %}
            {{ profile.profile.bio | urlize | linebreaksbr }}
            {% endif %}
        </div>

        <div class="profile_website">
            {% if profile.profile.website != None %}
            <a href="{{ profile.profile.website }}" style="word-break: break-all; color:#6495ED;"><i class="fas fa-link"> {{ profile.profile.website }}</i></a>
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}