<!DOCTYPE html>

<ul class="comment-section">
    {% for comment in comments %}
        <li class="comment {% if comment.author == request.user %}my-comment{% else %}other-comment{% endif %}">
            {% if comment.author != request.user %}
                <!-- 他人コメント -->
                <div class="comment-row">
                    <div class="avatar-box">
                        <div class="avatar-wrapper">
                            <a href="{% url 'articles:user-posts' comment.author.username %}">
                                <img src="{{ comment.author.profile.image.url }}" alt="Avatar" class="avatar-img">
                            </a>
                        </div>
                        <div class="meta-row">
                            <div class="meta-username">{{ comment.author|truncatechars_html:10 }}</div>
                        </div>
                        <div class="meta-time">{{ comment.created_date|timesince }}前</div>
                    </div>
                    <div class="bubble">
                        <p>{{ comment.text|urlize|linebreaksbr|safe }}</p>
                    </div>
                </div>
            {% else %}
                <!-- ✅ 自分のコメント -->
                <div class="comment-row self-comment-row">
                    <div class="bubble">
                        <p>{{ comment.text|urlize|linebreaksbr|safe }}</p>
                    </div>
                </div>
                <div class="meta-row self-meta">
                    <div class="meta-time">{{ comment.created_date|timesince }}前</div>
                </div>
            {% endif %}
            {% if view_name != 'list' and request.user.id == comment.author.id %}
                <div class="comment-delete-btn-wrapper">
                    <div class="comment-delete-btn">
                        <form method="POST" action="{% url 'articles:comment_ajax_delete' comment.pk %}" class="comment-delete-form" data-article-id="{{ article.id }}">
                            {% csrf_token %}
                            <button type="submit" class="delete-btn">
                                <i class="far fa-trash-alt fa-sm"></i>
                            </button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </li>
    {% endfor %}
</ul>