{% extends 'base_layout.html' %}
{% block title %}{{ user }} post list{% endblock %}
{% block content %}

<div class="profile-container">
    <div class="profile-new">
        <div class="profile-new-image">
            <a href="{% url 'accounts:profile_detail' user %}">
            <img src="{{ user.profile.image.url }}" alt="Avatar" class="img-cover"/>
            </a>
        </div>

        <div class="profile-new-info">
            <div class="profile-new-info-top">
                <h3>{{ user }}</h3>
            </div>
            <div class="profile-new-info-center">
                <span>Posts <strong>{{ count }}</strong></span>
                <span>Followers <strong>{{ followers }}</strong></span>
                <span>Following <strong>{{ following }}</strong></span>
            </div>
            <div class="profile-new-info-bottom">
                {% if bio %}
                <p>{{ bio }}</p>
                {% endif %}
                {% if website %}
                <a href="{{ website }}">{{ website }}</a>
                {% endif %}
            </div>
        </div>
    </div>
 </div>

 <div class="container-all-post">
    <section class="listPost">
        {% for article in articles %}
        <a href="{% url 'articles:detail' detail_id=article.id %}" class="articles-post">
            <div class="post-image">
                <img src="{{ article.thumb.url }}" alt="{{ article.title }}" loading="lazy"/>
            </div>
            <div class="overlay">
                <span>
                    <i class="far fa-heart"></i>
                    {% if article.total_likes %}
                    {{ article.total_likes }}
                    {% endif %}
                </span>
                <span>
                    <i class="far fa-comment"></i>
                    {% if article.comments.count %}
                    {{ article.comments.count }}
                    {% endif %}
                </span>
            </div>
        </a>
        {% endfor %}
    </section>
</div>

{% if is_paginated %}
<div class="pager">
    <ul class="pagination">
    {% if page_obj.has_previous %}
        <li class="pre"><a class="active" href="?page=1"><span>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a></li>
        <li class="pre"><a class="active" href="?page={{ page_obj.previous_page_number }}"><span>
            <i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a></li>
    {% endif %}

    {% for num in paginator.page_range %}
        {% if page_obj.number == num %}
            <li><a class="active" href="#"><span>{{ num }}</span></a></li>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
        <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
        {% endif %}
    {% endfor %}

    {% if page_obj.has_next %}
        <li class="next"><a href="?page={{page_obj.next_page_number }}"><span>
            <i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a></li>
        <li class="next"><a href="?page={{ page_obj.paginator.num_pages }}"><span>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a></li>
    {% endif %}
    </ul>
</div>
{% endif %}
{% endblock %}