{% extends 'base_layout.html' %}

{% block content %}

<div class="user_detail_user_box">
    <div class="user_detail_user_img">
        <img src="{{ user.profile.image.url }}" alt="Avatar" class="img-cover"/>
    </div>
    <div class="user_detail_user_name">
        <h2>{{ user.username }}'s home</h2>
    </div>

    <div class="user_detail_user_custom">
        <a href="{% url 'accounts:profile' %}">Profile <i class="fas fa-user-cog"></i></a></div>
</div>

<div class="articles">
    {% for article in my_article %}
        <div class="article">

            <p class="author">{{ article.author.username }}</p>
            <p><small>{{ article.date | date:"y/n/j H:i"}}</small></p>
            <h3><a href="{% url 'articles:detail' detail_id=article.id %}">
                {{ article.title }}
            </a>
            </h3>
            <p>{{ article.snippet }}</p>
            <div class="in-pict">
                <a href="{% url 'articles:detail' detail_id=article.id %}">
                    <img src="{{ article.thumb.url }}" loading="lazy"/>
                </a>
            </div>
            <div class="article_list_user_img">
                <img src="{{ article.author.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
            </div>
            <div class="edit_box">
                 <div class="article_edit">
                    <a href="{% url 'articles:edit' pk=article.pk %}">
                        <i class="far fa-edit"></i></a>
                </div>
            </div>
            <hr class="hr_list_border">
            <div class="icons">
                <div class="list_article_icon">
                    <p class="add_comments"><a href="{% url 'articles:users_detail_comments' article.pk %}">
                        <i class="far fa-comment-alt"></i></a>
                        {{ article.comments.count }}
                    </p>
                </div>
                <div class="list_article_icon">
                     <p class="like_hearts"><a href="{% url 'articles:users_detail_like' article.pk %}">
                        <i class="fa fa-heart"></i></a>
                        {{ article.total_likes }}
                     </p>
                </div>
                <div class="list_article_icon">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail' detail_id=article.id %}"
                            target="_blank" rel="nofollow" class="fb">
                            <i class="fab fa-facebook"></i>
                    </a>
                </div>
                <div class="list_article_icon">
                    <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail' detail_id=article.id %}&text={{ article.title }}"
                            target="_blank" rel="nofollow" class="tw">
                        <i class="fab fa-twitter-square"></i>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="pager">
        <ul class="pagination">
        {% if my_article.has_previous %}
            <li class="pre"><a class="active" href="?page=1"><span>
                <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
            </a></li>
            <li class="pre"><a class="active" href="?page={{ my_article.previous_page_number }}"><span>
                <i class="fa fa-angle-left" aria-hidden="true"></i></span>
            </a></li>
        {% endif %}

        {% for num in my_article.paginator.page_range %}
            {% if my_article.number == num %}
                <li><a class="active" href="#"><span>{{ num }}</span></a></li>
            {% elif num > my_article.number|add:'-3' and num < my_article.number|add:'3' %}
            <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
            {% endif %}
        {% endfor %}

        {% if my_article.has_next %}
            <li class="next"><a href="?page={{ my_article.next_page_number }}"><span>
                <i class="fa fa-angle-right" aria-hidden="true"></i></span>
            </a></li>
            <li class="next"><a href="?page={{ my_article.paginator.num_pages }}"><span>
                <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
            </a></li>
        {% endif %}
        </ul>
    </div>

{% endblock %}