{% extends 'base.html' %}
{% block headerName %}コメントしたユーザー{% endblock %}
{% block title %}User Who Commented{% endblock %}
{% block content %}
<div class="users-wrapper">
    {% for comment in comments %}
    <div class="users-box">
        <div class="users-item-pic">
            <a href="{% url 'articles:user-posts' comment.author.username %}">
                <img src="{{ comment.author.profile.image.url }}" alt="Avatar" class="img-cover" loading="lazy"/>
            </a>
        </div>
        <div class="users-items-wrapper">
            <div class="users-items-box">
                <div class="users-item-username">
                    <p>{{ comment.author.profile.user }}</p>
                </div>
                <div class="users-item-btn">
                    <a href="{% url 'accounts:profile_detail' comment.author.username %}">
                        <p>詳細</p>
                    </a>
                </div>
            </div>
            <div class="users-item-text">
                <p>{{ comment.text | linebreaks }}</p>
                <span>
                    <small>{{ comment.created_date | timesince }}{{ sometime }} 前</small>
                </span>
            </div>
        </div>
    </div>
    {% empty %}
        <div class="global-tag">
            <h3>まだコメントはありません。</h3>
        </div>
    {% endfor %}
</div>
{% if comments.has_other_pages %}
<div class="pager">
    <ul class="pagination">
        {% if comments.has_previous %}
        <li class="pre"><a class="active" href="?page=1"><span>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a></li>
        <li class="pre"><a class="active" href="?page={{ comments.previous_page_number }}"><span>
            <i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a></li>
        {% endif %}

        {% for num in comments.paginator.page_range %}
        {% if comments.number == num %}
        <li><a class="active" href="#"><span>{{ num }}</span></a></li>
        {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
        <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
        {% endif %}
        {% endfor %}

        {% if comments.has_next %}
        <li class="next"><a href="?page={{ comments.next_page_number }}"><span>
            <i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a></li>
        <li class="next"><a href="?page={{ comments.paginator.num_pages }}"><span>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
<div class="global-footer"></div>
{% endblock %}
