<!DOCTYPE html>
{% extends 'base.html' %}
{% block headerName %}コメントしたユーザー{% endblock %}
{% block title %}User Who Commented{% endblock %}
{% block content %}
<div class="comment-grid">
    {% for comment in comments %}
    <div class="comment-card">
        <div class="comment-user-top">
            <a href="{% url 'articles:user-posts' comment.author.username %}" class="comment-user-link">
                <img src="{{ comment.author.profile.image.url }}" alt="Avatar" class="comment-avatar" loading="lazy"/>
                <div class="comment-user-meta">
                    <small class="comment-time">{{ comment.created_date|timesince }} 前</small>
                    <span class="comment-username">{{ comment.author.username }}</span>
                </div>
            </a>
        </div>
        <div class="comment-text">
            <p>{{ comment.text|truncatechars:50 }}</p>
        </div>
    </div>
    {% empty %}
    <div class="global-tag">
        <h3>まだコメントはありません。</h3>
    </div>
    {% endfor %}
</div>
{% if comments.has_other_pages %}
<div class="pager">
    <ul class="pagination">
        {% if comments.has_previous %}
        <li class="pre"><a class="active" href="?page=1"><span>
            <i class="fa fa-angle-double-left" aria-hidden="true"></i></span>
        </a></li>
        <li class="pre"><a class="active" href="?page={{ comments.previous_page_number }}"><span>
            <i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a></li>
        {% endif %}

        {% for num in comments.paginator.page_range %}
        {% if comments.number == num %}
        <li><a class="active" href="#"><span>{{ num }}</span></a></li>
        {% elif num > comments.number|add:'-3' and num < comments.number|add:'3' %}
        <li><a href="?page={{ num }}"><span>{{ num }}</span></a></li>
        {% endif %}
        {% endfor %}

        {% if comments.has_next %}
        <li class="next"><a href="?page={{ comments.next_page_number }}"><span>
            <i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a></li>
        <li class="next"><a href="?page={{ comments.paginator.num_pages }}"><span>
            <i class="fa fa-angle-double-right" aria-hidden="true"></i></span>
        </a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
<div class="global-footer"></div>
{% endblock %}
