{% extends 'base_layout.html' %}

{% block content %}


<div class="about-box">
    <div class="about_title">
        <h1>Local things</h1>
        <p>Localに恋するSite</p>
    </div>
    <div class="about">
        <span>ABOUT</span>
        <p>
         Local Thingsは、<br>
            「 Localeに恋するSite 」をコンセプトに作られました。
        </p>
    </div>
    <div class="concept">
        <span>CONCEPT</span>
        <p>" Localに恋するSite "とは、<br>
            地域に住んでいる人達が、
            何気なく見ている景色、<br>
            何気なく食べているもの、
            何気なく行なっている事。<br>
            その「何気ないもの」を発信する。<br>
            「何気ないもの」は、誰かにとっては「何気なくないもの」かもしれない。<br>
            人々は、
            何気なくないものに恋して、<br>
            何気ないものに逢いにゆく。
        </p>
    </div>
     <div class="about">
         <span>ONE LOCALE MANY CONTENT</span>
         <p>
             ひとつのLocalが多くのContentを持つ。
             Contentはそこにあるものがいい。<br>
             無理やり作ったものは、何も聴こえない。<br>
             でも、 懸命に創ったものは、静かに力強く聴こえてくる。<br>
             訪れてくれた人には、微笑むだけでいい。
             無理をすると、そこが壊れてしまうから。<br>
             ゆっくりと人が増えて、ゆつくりと笑顔が広がっていく。<br>
             葉の雫たちが湖面に恋するように。
         </p>
     </div>
     <div class="about">
        <span>Request</span>
        <P>告知など、期間があるものを投稿した場合は、
            終了時に記事を削除して下さい。<br>
            大分Localとは関係の無い記事は掲載しないで下さい。<br>
            例、アルバイトの募集、風俗店の記事、大分県以外の記事等。<br>
            また、そのような投稿があった場合、通知せずに削除致しますので<br>
            ご了承下さい。<br>
             <span>
                <a href="{% url 'privacy-policy' %}" id="contact" style="color:tomato"><small>privacy policy</small></a>
             </span>
        </P>
    </div>
    <div class="about">
        <span>SPONSORS</span>
        <P>準備中ですが、ご興味ある方はContact Pageから<br>
            お問い合わせいただけれは幸いです。</P>
    </div>
    <div class="producer">
        <P>
            Producer young
        </P>
    </div>
</div>
{% endblock %}