{% extends 'base_layout.html' %}
{% block title %}About{% endblock %}
{% block content %}


<div class="about-box">
    <div class="about_title">
        <h1>Local things</h1>
        <p>Localに恋するSite</p>
    </div>

    <div class="about">
        <span>ABOUT</span>
        <p>Local Thingsは、</p>
        <p>「 Localeに恋するSite 」というコンセプトの基に作られました。</p>
    </div>

    <div class="about">
        <span>CONCEPT</span>
        <p>" Localに恋するSite "とは、</p>
        <p> 地域に住んでいる人達が、何気なく見ている景色、何気なく食べているもの、何気なく行なっている事。その「何気ないもの」をこのサイトを通してみんなで発信して行く。 </p>
        <p>「何気ないもの」は、他の誰かにとっては「何気なくないもの」だったりする。</p>
        <p>今の時代だからこそ、何気ないものは個の心をギュッと鷲掴みにするのだ。ギュッとされた人は、その土地を訪れたり、そのものを欲しいと思ったり、その何かを体験したいと想う。
        パラパラとゆっくり人が増えて、キャハキャハとじんわり笑顔が広がってゆく。誰かにとても地域にとっても、とてもいい事だと思う。葉の雫たちが湖面に恋するように。</p>
    </div>

    <div class="about">
        <span>REQUEST</span>
        <P>告知など期間があるものを投稿した場合は、終了時に日付を編集して頂けるようお願い申し上げます。</P>
        <p>（このイベントは終了しました。次回は何年何月何曜日です。etc)編集は画面上のご自分のuser nameをタップすると行えます。</p>
        <p>大分Localとは関係の無い記事は掲載しないで下さい。</p>
        <p>例、アルバイトの募集、風俗店の記事、大分県以外の記事等。また、そのような投稿があった場合は、通知をせずに削除致しますのでご了承下さい。</p>
         <span>
            <a href="{% url 'privacy-policy' %}" id="privacy-policy" style="color:tomato"><small>Privacy Policy</small></a>
         </span>
    </div>

    <div class="about">
        <span>COLLABORATION</span>
        <P>地域活性化のご用件であればお手伝いさせて頂きます。</P>
    </div>

    <div class="about">
        <span>SPONSORS</span>
        <P>準備中ですが、ご興味ある方はContact Pageからお問い合わせいただけれは幸いです。</P>
        <span>
            <a href="{% url 'accounts:contact' %}" id="contact" style="color:green"><small>Contact</small></a>
        </span>
    </div>

    <div class="producer">
        <P>Producer young</P>
    </div>

</div>
{% endblock %}