{% extends 'base_layout.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="about">
    <div class="about_wrapper">
        <div class="about_container">
            <div class="about_box">
                <div class="about_content">
                    <span>LOCAL THINGS</span>
                    <p>Localに恋するSNS</p>
                </div>
            </div>
            <div class="about_box">
                 <div class="about_content">
                    <span>ABOUT</span>
                    <p>Local Thingsは、"Localeに恋するSNS" というコンセプトの基に作られました。</p>
                </div>
            </div>
            <div class="about_box">
                <div class="about_content">
                    <span>COLLABORATION</span>
                    <p>お気軽にお問い合わせ下さい。</p>
                     <span>
                        <a href="{% url 'accounts:contact' %}" style="color:#61C359"><small>Contact</small></a>
                    </span>
                </div>
            </div>
            <div class="about_box">
                <div class="about_content">
                    <span>CONCEPT</span>
                    <p>" Localに恋するSNS "とは、地域に住んでいる人達が、何気なく見ている景色、何気なく食べているもの、何気なく行なっている事。
                        その「何気ないもの」をこのSNSを通してみんなで発信してゆく。
                        「何気ないもの」は、他の誰かにとっては「何気なくないもの」だったりする。
                        今の時代だからこそ、何気ないものは個の心をギュッと鷲掴みにする。
                        ギュッとされた人は、その土地を訪れたり、そのものを欲しいと思ったり、その何かを体験したいと想う。
                        パラパラとしだいに人が増え始めて、キャハキャハと笑顔がじんわりゆっくりと広がってゆく。誰かにとても地域にとっても素敵な事だと思う。
                        葉の雫たちが湖面に恋するように。
                    </p>
                </div>
            </div>
            <div class="about_box">
                <div class="about_content">
                    <span>SPONSORS</span>
                    <p>準備中ですが、ご興味ある方はContact Pageからお問い合わせいただけれは幸いです。</p>
                    <span>
                        <a href="{% url 'accounts:contact' %}" style="color:#61C359"><small>Contact</small></a>
                    </span>
                </div>
            </div>
            <div class="about_box">
                <div class="about_content">
                    <span>REQUEST</span>
                    <p>大分Localとは関係の無い記事は掲載しないで下さい。
                        例、アルバイトの募集、風俗店の記事、大分県以外の記事等。また、そのような投稿があった場合は、通知をせずに削除致しますのでご了承下さい。
                    </p>
                    <span>
                        <a href="{% url 'privacy-policy' %}" style="color:tomato"><small>Privacy Policy</small></a>
                    </span>
                </div>
            </div>
            <div class="about_box">
                <div class="about_content">
                    <span>PRODUCER</span>
                    <h4>young</h4>
                    <small>2020 March 13</small>
                    <a href="{% url 'special_thanks' %}"><p>Special Thanks</p></a>
                </div>
            </div>
        </div>
    </div>
     <div class="global-footer"></div>
</div>
{% include 'snippet/sub_nav.html' %}
{% endblock %}