{% load static from staticfiles %}
<html lang="ja">
 <head>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-150304073-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-150304073-1');
    </script>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width,initial-scale=1">
     <title>{% block title %}Local Things{% endblock %}</title>
     <meta name="description" content="{% block description %}Local thingsは、大分県の地域の「何気ないもの」を紹介しています。
     ローカルフードや、ローカルスポット、ナイスなおススメ情報など。
     Oita Localが好きな人と、興味がある人達とで地域を盛り上げていく地域密着型Web app{% endblock %}"/>

     <link href="/static/favicon.ico" rel="icon">
     <!-- pwa -->
     <meta name="apple-mobile-web-app-capable" content="yes">
     <meta name="apple-mobile-web-app-status-bar-style" content="black">
     <meta name="apple-mobile-web-app-title" content="Local Things">
     <link href="/static/apple-touch-icon.png" sizes="180x180" rel="apple-touch-icon">

     <meta name="theme-color" content="black">
     <link rel="manifest" href="{% static 'manifest.json' %}">


     <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Noto+Sans+JP:400,700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Amatic+SC:700" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Sawarabi+Mincho&display=swap" rel="stylesheet">
     <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
     <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome-animation/0.0.10/font-awesome-animation.css" type="text/css" media="all" rel="stylesheet"/>
     <link href="https://fonts.googleapis.com/css?family=Italianno&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Sacramento&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">

     <link rel="stylesheet" href="{% static 'styles.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

     <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/css/lightbox.css" rel="stylesheet">
     <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.7.1/js/lightbox.min.js" type="text/javascript"></script>

     <meta name="google-site-verification" content="pzDQnHiXAF6b76qLuGcsnt2Fg9p3PPVooCxmn4QJsKw" />

     <!--  twitter card   -->
     <meta name="twitter:card" content="summary_large_image" />
     <meta name="twitter:site" content="@{{ article.author.username }}" />
     <meta property="og:url" content="{{ request.build_absolute_uri }}" />
     <meta property="og:title" content="{{ article.title }}" />
     <meta property="og:description" content="{{ article.snippet }}" />
     <meta property="og:image" content="{{ article.thumb.url }}" />

     <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
     <script type="text/javascript">
         $(window).on('load', function(){
            $('.preloader').addClass('complete')
         })
     </script>
 </head>
    <body>
        <div class="preloader">
            <div class="loader"></div>
        </div>
         <header class="wrapper" ontouchstart="">
             <div class="wrapper_logo">
                <div class="wrapper_circle">
                   <a href="{% url 'home' %}">
                       <h1>oita  <br>L<span><i class="fas fa-map-marker-alt"></i></span><span>cal things</span></h1>
                       <small><span class="logo_under">Local</span> に恋する<span class="logo_under"> sns</span></small>
                   </a>
                </div>
             </div>

              <section class="wrapper_about">
                <ul>
                    <li><a href="{% url 'about' %}" id="about">About  <i class="far fa-clipboard"></i></a></li>
                    <li><a href="{% url 'accounts:contact' %}" id="contact">Contact  <i class="fas fa-paper-plane"></i></a></li>
                </ul>
              </section>
                <nav class="wrapper_nav">
                    <ul>
                        {% if user.is_authenticated %}
                        <li>
                            <form class="logout-link" action="{% url 'accounts:logout' %}" method="POST">
                                {% csrf_token %}
                            <button type="submit">Logout</button>
                            </form>
                        </li>
                        <li><a href="{% url 'articles:create' %}" class="highlight">
                            <span>New Articles</span>
                            </a>
                        </li>
                        <li class="wrapper_user">Hello<a href="{% url 'articles:users_detail' user.pk %}">
                            <strong>{{ request.user }}</strong>
                            <small><i class="far fa-id-badge"></i></small></a>
                        </li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}" id="nav_login">Login</a></li>
                        <li><a href="{% url 'accounts:signup' %}" id="nav_signup">Signup</a></li>
                        {% endif %}
                    </ul>
                </nav>
         </header>

        <div class="wrapper" ontouchstart="">
            {% block content %}
            {% endblock %}
        </div>

        <footer>
            <div class="wrapper" ontouchstart="">
            <div id="button" ontouchstart=""></div>
                <div id="container">
                    <div class="item_fb">
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'home' %}"
                                target="_blank" rel="nofollow" class="fb">
                                <i class="fab fa-facebook-f fa-2x"></i>
                        </a>
                    </div>
                    <div class="item_search">
                        <form class="search_footer" method="GET" action="{% url 'articles:list' %}">
                            <input class="search_footer" type="text" name="q"
                                   placeholder="Search..." value="{{ request.GET.q }}" required/>
                            <button type="submit">Search</button>
                        </form>
                    </div>
                    <div class="item_tw">
                        <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'home' %}&text= Local Things"
                                target="_blank" rel="nofollow" class="tw">
                            <i class="fab fa-twitter fa-2x"></i>
                        </a>
                    </div>
                    <div class="item_copyright">
                        <p><i class="far fa-copyright"></i><small> 2019 - Local Things</small></p>
                        <div class="item_privacy-policy">
                        <p>
                            <a href="{% url 'privacy-policy' %}" id="privacy-policy">
                                <i class="fas fa-user-shield"></i><small> privacy policy</small></a>
                        </p>
                        </div>
                    </div>

                </div>
            </div>
        </footer>
         <script src="/static/app.js"></script>
    </body>
</html>