
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>home</title>
    </head>
    <body>
        <h1>Special Thanks</h1>
        <p>
            このサイトは、djangoで作られています。<br>
            参考にさせていただいたサイト
        </p>
        <ul>
            <li><a href="https://www.youtube.com/channel/UCW5YeuERMmlnqo4oq8vwUpg">
                <span>The Net Ninja</span></a>
            </li>
            <li><a href="https://www.youtube.com/user/schafer5">
                <span>Corey Schafer</span></a>
            </li>
            <li><a href="https://www.youtube.com/channel/UCS3lgmo8xYcOGTn_fv2mLgw">
                <span>Vitor Freitas</span></a>
            </li>
        </ul>
    </body>
