{% extends 'base_layout.html' %}

{% block content %}


<div class="privacy">
    <h1>Privacy Policy</h1>
    <P>
        本プライバシーポリシーは、Local Things（URL)（以下「当サイト」とします。）
        の各種サービス（当サイトによる情報提供、各種お問合せの受付等）において、
        当サイトの訪問者（以下、「訪問者」とします。）
        の個人情報もしくはそれに準ずる情報を取り扱う際に、
        当サイトが遵守する方針を示したものです。
    </P>

    <div>
        <h3>個人情報保護方針</h3>
            <p>
            当サイトでは皆様に安心してご利用頂けるようプライバシーの尊重と個人情報の保護、維持、管理に努めてまいります。
            当サイトに個人情報を提供するにあたっては、以下の内容についてご同意の上でご提供頂きますようお願い致します。
            </p>
    </div>
    <div>
        <h3>個人情報の管理</h3>
            <p>
                当サイトは、訪問者の個人情報を正確かつ最新の状態に保ち、
                個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、
                セキュリティシステムの維持等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。
            </p>
    </div>
    <div>
        <h3>個人情報の利用目的</h3>
            <p>
                当サイトでは、訪問者からのお問い合わせ時に、
                お名前、e-mailアドレス、等の個人情報をご登録いただく場合がございますが、
                これらの個人情報はご提供いただく際の目的以外では利用いたしません。
                 訪問者からお預かりした個人情報は、
                当サイトからのご連絡やご質問に対する回答として、
                電子メールや資料のご送付に利用いたします。
            </p>
    </div>
    <div>
        <h3>個人情報の第三者への開示・提供の禁止</h3>
            <p>
                あらかじめ訪問者の同意がある場合を除き、第三者への個人情報の提供および開示は行いません。
                ただし、以下の例外的な場合を除きます。<br> 
                ・訪問者の同意がある場合 <br>
                ・法令に基づき開示することが必要である場合
                ・上記のうちで、お客様個人を識別することができない状態で開示する場合

            </p>
    </div>
    <div>
        <h3>個人情報の安全管理</h3>
            <p>
                個人情報の取り扱いについては、継続的に見直し、その改善に努めます。
            </p>
    </div>
    <div>
        <h3>Cookieによる個人情報の取得</h3>
            <p>
                当サイトは、訪問者のコンピュータにCookieを送信することがあります。
                Cookie（クッキー）とは、ウェブサイトを利用したときに、
                ブラウザとサーバーとの間で送受信した利用履歴や入力内容などを、
                訪問者のコンピュータにファイルとして保存しておく仕組みです。
            </p>
    </div>
    <div>
        <h3>利用目的について</h3>
            <p>
                訪問者の当サイト閲覧時の利便性を高めるためです。
                たとえば、次回同じページにアクセスするとCookieの情報を使って、
                ページの運営者は訪問者ごとに表示を変えることができます。
                たとえばあるサイトを利用していて、
                初回はログインパスワードを入力する画面が表示されたけど、
                2回目以降はログイン画面は表示されずにアクセスできた、
                という経験ありませんか？それはCookieによるものです。
                訪問者がブラウザの設定でCookieの送受信を許可している場合、
                ウェブサイトは、訪問者のブラウザからCookieキーを取得できます。
                なお、訪問者のブラウザはプライバシー保護のため、
                そのウェブサイトのサーバーが送受信したCookieのみを送信します。
            </p>
    </div>
    <div>
        <h3>当サイトへのコメントについて</h3>
            <p>
                当サイトでは、スパム・荒らしへの対応として、
                コメントの際に使用されたIPアドレスを記録しています。
                これはブログの標準機能としてサポートされている機能で、
                スパム・荒らしへの対応以外にこのIPアドレスを使用することはありません。
                次の各号に掲げる内容を含むコメントは管理人及び、記事提供者の裁量によって承認せず、
                削除する事があります。
                ・特定の自然人または法人を誹謗し、中傷するもの。
                ・極度にわいせつな内容を含むもの。
                ・禁制品の取引に関するものや、他者を害する行為の依頼など、
                    法律によって禁止されている物品、行為の依頼や斡旋などに関するもの。
                ・その他、公序良俗に反し、または管理人によって承認すべきでないと認められるもの。
                ・訪問者同士のコメントのやりとりについても一切責任を負いません。
            </p>
    </div>
    <div>
        <h3>お問い合せ</h3>
            <p>
                当サイトの個人情報の取扱に関するお問い合せは下記までご連絡ください。<br>
                … … … お問い合わせはこちら… … 
                <span>
                <a href="{% url 'accounts:contact' %}" id="contact" style="color:tomato">(フォームへ)</a>
                </span>
            </p>
    </div>
    <div>
        <h3>免責事項</h3>
            <p>
                当サイトからリンクやバナーなどによって他のサイトに移動された場合、
                移動先サイトで提供される情報、サービス等について一切の責任を負いません。
                当サイトのコンテンツ・情報につきまして、
                可能な限り正確な情報を掲載するよう努めておりますが、
                誤情報が入り込んだり、情報が古くなっていることもございます。
                当サイトに掲載された内容によって生じた損害等の一切の責任を負いかねますのでご了承ください。
                本ウェブサイトの情報は、一部のサービスを除き、無料で提供されています。

            </p>
    </div>
    <div>
    <h3>プライバシーポリシーの変更について</h3>
            <p>
                当サイトは、個人情報に関して適用される日本の法令を遵守するとともに、
                本ポリシーの内容を適宜見直しその改善に努めます。
                修正された最新のプライバシーポリシーは常に本ページにて開示されます。

            </p>
    </div>
    <div>
        <h3>著作権</h3>
            <p>
                当サイトに掲載されている全てのコンテンツは、
                Local Thingsが所有しています。
                書面による許可なく、個人的な目的以外で使用することは禁止されています。
            </p>
    </div>

</div>

{% endblock %}