<!DOCTYPE html>
<div class="icons-box">
    <ul class="articles-icon-box-items">
        <li class="articles-icon-item-active {% for i in article.get_liked_user %}{% if i == request.user %}liked{% endif %}{% endfor %}">
            <div class="articles-icon-items-wrapper">
                <div class="articles-hover heart-circle">
                    <button type="button" class="btn-like" data-id="{{ article.id }}" data-title="{{ article.title }}">
                        <i class="far fa-heart liked_heart"></i>
                    </button>
                </div>
            </div>
        </li>

        <li class="articles-icon-item-active">
            <div class="articles-icon-items-wrapper">
                <div class="articles-hover">
                    <form method="POST" action="{% url 'articles:comment_post' article.pk %}">
                        {% csrf_token %}
                        <button type="button" class="toggle-comment-btn" data-article-id="{{ article.id }}">
                            <i class="far fa-comment"></i>
                        </button>
                    </form>
                </div>
            </div>
        </li>

        <li class="articles-icon-item-active">
            <div class="articles-icon-items-wrapper">
                <div class="articles-hover">
                    <a class="btn-book_mark" id="book_mark" name="{{ article.id }}">
                        <i class="{% if user in article.book_mark.all %}fas{% else %}far{% endif %} fa-bookmark"></i>
                    </a>
                </div>
            </div>
        </li>

         <li class="articles-icon-item-active">
            <div class="articles-icon-items-wrapper">
                <div class="articles-hover">
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail'  pk=article.pk %}"
                        target="_blank" rel="nofollow" class="fb">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>
            </div>
        </li>

         <li class="articles-icon-item-active">
            <div class="articles-icon-items-wrapper">
                <div class="articles-hover">
                    <a href="https://twitter.com/share?url={{ request.scheme }}://{{ request.get_host }}{% url 'articles:detail' pk=article.pk %}&text={{ article.title }}"
                        target="_blank" rel="nofollow" class="tw">
                    <i class="fa-brands fa-x-twitter"></i>
                    </a>
                </div>
            </div>
        </li>
    </ul>
</div>
